*.pyc
__pycache__
myvenv
pyvenv
mywvenv
pywvenv
db.sqlite3
/static
.DS_Store
local_settings.py
HealthCareDemo.sublime-workspace
HealthCareDemo.sublime-project
.idea
.idea2
act.bat
act.ps1
Thumbs.db
*.java

demo/static/img/realestate/thumbs/
