<!-- row for news ticker -->
<div class="row">
    <div class="simple-marquee-container">
        <div class="marquee-sibling">
            HealthCare News:
        </div>
        <div class="marquee">
            <ul class="marquee-content-items">
                <li><a target="_blank"
                    href="http://www.modernhealthcare.com/article/20160926/NEWS/160929921">
                    Executive pay at Health Care Service Corp. rises despite ACA troubles
                </a></li>
                <li><a target="_blank"
                    href="http://www.modernhealthcare.com/article/20160924/NEWS/309249937">
                    Striking nurses, Allina Health agree to bargaining session
                </a></li>
                <li><a target="_blank"
                    href="http://www.modernhealthcare.com/article/20160924/NEWS/309249936">
                    Failed insurer's customers face deadline to find new plan
                </a></li>
                <li><a target="_blank"
                    href="http://www.modernhealthcare.com/article/20160925/NEWS/160929937">
                    When doctors get the wrong patient
                </a></li>
                <li><a target="_blank"
                    href="http://www.healthcareitnews.com/news/ama-doctors-want-digital-health-tools-billing-diagnostics-patient-safety">
                    AMA: Doctors want digital health tools for billing, diagnostics, patient safety
                </a></li>
                <li><a target="_blank"
                    href="http://www.healthcareitnews.com/news/obama-kicks-national-health-it-week-touting-ehr-adoption-and-precision-medicine-advances">
                    Obama kicks off National Health IT Week, touting EHR adoption and precision medicine advances
                </a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end row for news ticker -->
