{% load staticfiles %}
{% load healthcare_tags %}
<div class="jarviswidget jarviswidget-color-blue"
    id="wid-patient-images">
    <header>
        <h2><strong>Images</strong></h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body">
            <ul><li>9/4/2016: Broken Left Radius & Ulna</li>
                <li>9/14/2016: Open Reduction and Internal Fixation</li>
                <li>{% last_week "%m/%d/%Y" %}: Follow-up X-Ray</li>
            </ul>
            <div>
                <a href="{% static 'healthcare/img/rcg/images/hands-1.jpg'%}" title="Hands 1 {% last_week "%m/%d/%Y" %}">
                    <figure class="figure-inline">
                        <img src="{% static 'healthcare/img/rcg/images/hands-1.jpg'%}" width="75" height="75" data-pin-nopin="true">
                        <figcaption>Hands 1 <p>{% last_week "%m/%d/%Y" %}{# {% now "n/j/y" %} #}
                            </figcaption></figure></a>
                <a href="{% static 'healthcare/img/rcg/images/hands-2.jpg'%}" title="Hands 2 {% last_week "%m/%d/%Y" %}">
                    <figure class="figure-inline">
                        <img src="{% static 'healthcare/img/rcg/images/hands-2.jpg'%}" width="75" height="75" data-pin-nopin="true">
                        <figcaption>Hands 2 <p>{% last_week "%m/%d/%Y" %}</figcaption></figure></a>
                <a href="{% static 'healthcare/img/rcg/images/arm-1.jpg'%}" title="Right Arm 1 {% last_week "%m/%d/%Y" %}">
                    <figure class="figure-inline">
                        <img src="{% static 'healthcare/img/rcg/images/arm-1.jpg'%}" width="75" height="75" data-pin-nopin="true">
                        <figcaption>Right Arm 1 <p>{% last_week "%m/%d/%Y" %}</figcaption></figure></a>
                <a href="{% static 'healthcare/img/rcg/images/arm-2.jpg'%}" title="Right Arm 2 {% last_week "%m/%d/%Y" %}">
                    <figure class="figure-inline">
                        <img src="{% static 'healthcare/img/rcg/images/arm-2.jpg'%}" width="75" height="75" data-pin-nopin="true">
                        <figcaption>Right Arm 2 <p>{% last_week "%m/%d/%Y" %}</figcaption></figure></a>
            </div> <!--popup-gallery-->
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->
