{% load staticfiles %}
<!-- Widget ID (each widget will need unique ID)-->
<!-- Map directions widget -->
<div class="jarviswidget jarviswidget-color-blue"
    id="wid-member-map-search"
    data-widget-collapsed="true"
    data-widget-editbutton="false"
    data-widget-deletebutton="false">
    <header>
        <h2><strong>Find Providers</strong></h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">

            <form class="smart-form" id="member-map-search-form">
                <!--<header>
                    Key Provider Types
                </header>-->
                <fieldset>
                    <section>
                        {# <label class="label">Columned checkboxes</label> #}
                        <div class="row">
                            <div class="col col-4">
                                <label class="checkbox">
                                    <!--<input type="checkbox" name="checkbox" checked="checked" value="Urgent Care">-->
                                    <input type="checkbox" name="checkbox" value="Urgent Care">
                                    <i></i>Urgent Care</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="checkbox" value="ER">
                                    <i></i>ER</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox">
                                    <input type="checkbox" name="checkbox" value="Primary Care">
                                    <i></i>Primary Care</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox">
                                    <input type="checkbox" name="checkbox" value="Cardiology">
                                    <i></i>Cardiology</label>
                            </div>
                        </div>
                    </section>
                </fieldset>
            </form>

        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->
