{% load healthcare_tags %}
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-blue"
    id="wid-patient-scripts2"
    data-widget-editbutton="false"
    data-widget-deletebutton="false">
    <header>
        <h2><strong>Recent</strong> <i>Prescriptions</i></h2>
        <div class="widget-toolbar">
            <!-- place your buttons here with .btn .btn-xs class -->
            <a href="{% url 'providers' %}" style="color:white;"
                class="btn btn-xs button-icon" rel="tooltip" title=""
                data-placement="bottom" data-original-title="Providers">
                <i class="fa fa-external-link "></i></a>
        </div>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">
            <div id="wid-scripts2-table-div" class="custom-scroll table-responsive" style="height:150px; overflow-y: scroll;">
                <table id="datatable_tabletools" class="table table-striped table| prepend_whole_dollars -bordered table-hover">
                    <thead>
                        <tr>
                            <th data-class="expand">Rx #</th>
                            <th data-hide="phone, tablet" style="width:12%">Date</th>
                            <th data-class="expand">For</th>
                            <th>Count</th>
                            <th>Dose</th>
                            <th data-hide="phone,tablet">Pharmacy</th>
                            <th>Take</th>
                            <th>Price</th>
                            <!-- looks like you cant have more than 8 cols for the js to work -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in member.rx_claims %}
                        <!-- //SC http://stackoverflow.com/questions/17147821/how-to-make-a-whole-row-in-a-table-clickable-as-a-link -->
                        <!--<tr class='clickable-row' data-href="{% url 'member_detail' pk=member.pk %}">-->
                        <tr>
                            <td>{{ obj.prescription_ref }}</td>
                            <!--<td>{# obj.service_date | date:"M d, Y" }}</td>-->
                            <td>{{ obj.service_date | date:"n/j/y" }}</td>
                            <td>{{ obj.drug.name }}</td>
                            <td>{{ obj.script_quantity | floatformat:"0" }}</td>
                            <td>{{ obj.drug.dose | floatformat:"0" }} {{ obj.drug.dose_units }}</td>
                            <td>{{ obj.pharmacy.chain }} {{ obj.pharmacy.name }}</td>
                            <td>{{ obj.drug.take_instructions }}</td>
                            <td>{{ obj.member_paid | prepend_dollars }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->
