{% load staticfiles %}
<!-- Widget ID (each widget will need unique ID)-->
<!-- Map directions widget -->
<div class="jarviswidget jarviswidget-color-blue"
    id="wid-member-map-search"
    data-widget-collapsed="true"
    data-widget-editbutton="false"
    data-widget-deletebutton="false">
    <header>
        <h2><strong>Find Providers</strong></h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">

            <fieldset>
                <section>
                    <label class="label">Columned radios</label>
                    <div class="row">
                        <div class="col col-4">
                            <label class="radio">
                                <input type="radio" name="radio" checked="checked">
                                <i></i>Alexandra</label>
                            <label class="radio">
                                <input type="radio" name="radio">
                                <i></i>Alice</label>
                            <label class="radio">
                                <input type="radio" name="radio">
                                <i></i>Anastasia</label>
                        </div>
                        <div class="col col-4">
                            <label class="radio">
                                <input type="radio" name="radio">
                                <i></i>Avelina</label>
                            <label class="radio">
                                <input type="radio" name="radio">
                                <i></i>Basilia</label>
                            <label class="radio">
                                <input type="radio" name="radio">
                                <i></i>Beatrice</label>
                        </div>
                        <div class="col col-4">
                            <label class="radio">
                                <input type="radio" name="radio">
                                <i></i>Cassandra</label>
                            <label class="radio">
                                <input type="radio" name="radio">
                                <i></i>Clemencia</label>
                            <label class="radio">
                                <input type="radio" name="radio">
                                <i></i>Desiderata</label>
                        </div>
                    </div>
                </section>
            </fieldset>

        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->
