<!-- Data Volume Widget -->
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-blue"
    id="wid-bigdata"
    {# data-widget-collapsed="true" #}
    data-widget-togglebutton="false"
    data-widget-editbutton="false"
    data-widget-deletebutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-database"></i> </span>
        <h2><strong>Big Data</strong> in <i>HealthCare</i></h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">
{% include 'rcg/why_big_data_filtered.htm' %}
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->
