{% load staticfiles %}
<div class=WordSection1>

<div align=center>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <tr style='height:40.0pt'>
  <td width=852 colspan=5 style='width:639.0pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  background:#1F4E79;padding:0in 5.4pt 0in 5.4pt;height:40.0pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><b><i><span style='font-size:16.0pt;font-family:"Arial",sans-serif;
  color:white'>Why Big Data?</span></i></b></p>
  </td>
 </tr>
 <tr style='height:40.0pt'>
  <td width=303 colspan=2 style='width:227.2pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt;height:40.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:14.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Data Sources</span></b></p>
  </td>
  <td width=195 style='width:146.3pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt;height:40.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:14.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Volume </span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>(per 100k members in TBs)</span></p>
  </td>
  <td width=180 style='width:135.0pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt;height:40.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:14.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Velocity</span></b></p>
  </td>
  <td width=174 style='width:130.5pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt;height:40.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:14.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Variety</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=174 style='width:130.25pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  color:#1F4E79'><img width=99 height=84 id="Picture 1"
  src="why_big_data_filtered_files/image001.jpg"><img width=56 height=74
  src="why_big_data_filtered_files/image002.jpg"></span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>&nbsp;</span></b></p>
  </td>
  <td width=129 style='width:96.95pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Monitoring Devices/ Wearables</span></p>
  </td>
  <td width=195 style='width:146.3pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'><img width=163 height=102
  id="Group 72" src="why_big_data_filtered_files/image003.png"></span></b></p>
  </td>
  <td width=180 style='width:135.0pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Streaming/ </span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Real Time</span></b></p>
  </td>
  <td width=174 style='width:130.5pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Heartrate</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Activity</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>GPS data</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=174 style='width:130.25pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  color:#1F4E79'><img width=66 height=105 id="Picture 3"
  src="why_big_data_filtered_files/image004.jpg"></span></b></p>
  </td>
  <td width=129 style='width:96.95pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Patient Reported Data</span></p>
  </td>
  <td width=195 style='width:146.3pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'><img width=20 height=25
  src="why_big_data_filtered_files/image005.jpg"></span></b><span
  style='color:#1F4E79'> </span></p>
  </td>
  <td width=180 style='width:135.0pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Periodic</span></b></p>
  </td>
  <td width=174 style='width:130.5pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Vitals</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Well Being</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=174 style='width:130.25pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'><img width=38 height=38
  id="Picture 30" src="why_big_data_filtered_files/image006.png"
  alt="MC900431516[1]"><img width=48 height=48 id="Picture 2"
  src="why_big_data_filtered_files/image007.png"></span></b><b><span
  style='font-size:12.0pt;color:#1F4E79'><img width=58 height=45 id="Picture 4"
  src="why_big_data_filtered_files/image008.jpg"></span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>&nbsp;</span></b></p>
  </td>
  <td width=129 style='width:96.95pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Health Plan</span></p>
  </td>
  <td width=195 style='width:146.3pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'><img width=20 height=25
  src="why_big_data_filtered_files/image005.jpg"></span></b><span
  style='color:#1F4E79'> </span><b><span style='font-size:12.0pt;font-family:
  "Arial",sans-serif;color:#1F4E79'><img width=20 height=25
  src="why_big_data_filtered_files/image005.jpg"></span></b><span
  style='color:#1F4E79'> </span></p>
  </td>
  <td width=180 style='width:135.0pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Batch</span></b></p>
  </td>
  <td width=174 style='width:130.5pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Claims History</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Provider Data</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Member Data</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Deductibles</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=174 style='width:130.25pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'><img width=66 height=66
  id="Picture 9" src="why_big_data_filtered_files/image009.png"></span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>&nbsp;</span></b></p>
  </td>
  <td width=129 style='width:96.95pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Pharmacy Benefit Manager</span></p>
  </td>
  <td width=195 style='width:146.3pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'><img width=20 height=25
  src="why_big_data_filtered_files/image005.jpg"></span></b><span
  style='color:#1F4E79'> </span></p>
  </td>
  <td width=180 style='width:135.0pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Near Real Time</span></b></p>
  </td>
  <td width=174 style='width:130.5pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Filled</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Unfilled</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>History</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=174 style='width:130.25pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>&nbsp;</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  color:#1F4E79'><img width=88 height=86 id="Picture 5"
  src="why_big_data_filtered_files/image010.jpg"></span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>&nbsp;</span></b></p>
  </td>
  <td width=129 style='width:96.95pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:10.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Community Health Data</span></p>
  </td>
  <td width=195 style='width:146.3pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'><img width=20 height=25
  id="Picture 70" src="why_big_data_filtered_files/image005.jpg"></span></b></p>
  </td>
  <td width=180 style='width:135.0pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Batch</span></b></p>
  </td>
  <td width=174 style='width:130.5pt;border:none;border-bottom:solid #BFBFBF 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Community Data</span></b></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Arial",sans-serif;color:#1F4E79'>Behavioral Data</span></b></p>
  </td>
 </tr>
</table>

</div>

</div>
