<!-- Widget ID (each widget will need unique ID)-->
<!-- Claims Widget -->
<div class="jarviswidget jarviswidget-color-blueDark"
    id="wid-patient-claims"
    data-widget-editbutton="false"
    data-widget-deletebutton="false">
    <header>
        <h2><strong>Recent</strong> <i>Claims</i></h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">
            <div id="wid-claims-table-div" class="custom-scroll table-responsive" style="height:150px; overflow-y: scroll;">
                <!--<table class="table table-bordered">-->
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th><i class="fa fa-key text-warning"></i> Date</th>
                            <th>Provider</th>
                            <th>Status</th>
                            <th>Billed</th>
                            <th>Allowed</th>
                            <th>Plan</th>
                            <th>Deductible</th>
                            <th>CoPay</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>8/6/2016</strong></td>
                            <td style="white-space:nowrap">Dr. James Smith</td>
                            <td>Pending</td>
                            <td style="white-space:nowrap">$ 135.00</td>
                            <td style="white-space:nowrap">$  85.00</td>
                            <td style="white-space:nowrap">$  65.00</td>
                            <td style="white-space:nowrap">       -</td>
                            <td style="white-space:nowrap">$  20.00</td>
                        </tr>
                        <tr>
                            <td><strong>8/6/2016</strong></td>
                            <td style="white-space:nowrap">Dr. James Smith</td>
                            <td>Pending</td>
                            <td style="white-space:nowrap">$ 135.00</td>
                            <td style="white-space:nowrap">$  85.00</td>
                            <td style="white-space:nowrap">$  65.00</td>
                            <td style="white-space:nowrap">       -</td>
                            <td style="white-space:nowrap">$  20.00</td>
                        </tr>
                        <tr>
                            <td><strong>8/6/2016</strong></td>
                            <td style="white-space:nowrap">Dr. James Smith</td>
                            <td>Pending</td>
                            <td style="white-space:nowrap">$ 135.00</td>
                            <td style="white-space:nowrap">$  85.00</td>
                            <td style="white-space:nowrap">$  65.00</td>
                            <td style="white-space:nowrap">       -</td>
                            <td style="white-space:nowrap">$  20.00</td>
                        </tr>
                        <tr>
                            <td><strong>8/6/2016</strong></td>
                            <td style="white-space:nowrap">Dr. James Smith</td>
                            <td>Pending</td>
                            <td style="white-space:nowrap">$ 135.00</td>
                            <td style="white-space:nowrap">$  85.00</td>
                            <td style="white-space:nowrap">$  65.00</td>
                            <td style="white-space:nowrap">       -</td>
                            <td style="white-space:nowrap">$  20.00</td>
                        </tr>
                        <tr>
                            <td><strong>8/6/2016</strong></td>
                            <td style="white-space:nowrap">Dr. James Smith</td>
                            <td>Pending</td>
                            <td style="white-space:nowrap">$ 135.00</td>
                            <td style="white-space:nowrap">$  85.00</td>
                            <td style="white-space:nowrap">$  65.00</td>
                            <td style="white-space:nowrap">       -</td>
                            <td style="white-space:nowrap">$  20.00</td>
                        </tr>
                        <tr>
                            <td><strong>8/6/2016</strong></td>
                            <td style="white-space:nowrap">Dr. James Smith</td>
                            <td>Pending</td>
                            <td style="white-space:nowrap">$ 135.00</td>
                            <td style="white-space:nowrap">$  85.00</td>
                            <td style="white-space:nowrap">$  65.00</td>
                            <td style="white-space:nowrap">       -</td>
                            <td style="white-space:nowrap">$  20.00</td>
                        </tr>
                        <tr>
                            <td><strong>8/6/2016</strong></td>
                            <td style="white-space:nowrap">Dr. James Smith</td>
                            <td>Pending</td>
                            <td style="white-space:nowrap">$ 135.00</td>
                            <td style="white-space:nowrap">$  85.00</td>
                            <td style="white-space:nowrap">$  65.00</td>
                            <td style="white-space:nowrap">       -</td>
                            <td style="white-space:nowrap">$  20.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->
