{% load demo_tags %}
<!-- Widget ID (each widget will need unique ID)-->
<!-- County CLinical Care Widget-->
<div class="jarviswidget jarviswidget-color-blueDark"
    id="wid-county-clinical"
    data-widget-editbutton="false"
    data-widget-deletebutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>County Clinical Care</h2>
    </header>
    <div>
      <!-- widget content -->
      <div class="widget-body no-padding">
        <div class="table-responsive">
        <!-- uncomment this line to limit table height -->
        {# <div id="wid-scripts-table-div-2" class="custom-scroll table-responsive" style="height:150px; overflow-y: scroll;"> #}
          <table class="table table-hover">
            <thead>
              <tr>
                <th> <i class="fa fa-building"></i> Focus Area</th>
                <th> <i class="fa fa-calendar"></i> Measure</th>
                <th> <i class="glyphicon glyphicon-send"></i> Description </th>
                <th>County</th>
                <th>Quartile in State</th>
                <th>US Overall</th>
              </tr>
            </thead>
            <tbody>
              {% regroup clinical by category as grouped %}
              {% for group in grouped %}
                {% for obj in group.list %}
                  {% if countydata|getattribute:obj.val2_ref > 3 %}
                    {% with tdtag='<td class="success">' %}
                      {% include "demo/_countydata_row.html" %}
                    {% endwith %}
                  {% elif countydata|getattribute:obj.val2_ref < 2 %}
                    {% with tdtag='<td class="danger">' %}
                      {% include "demo/_countydata_row.html" %}
                    {% endwith %}
                  {% else %}
                    {% with tdtag='<td>' %}
                      {% include "demo/_countydata_row.html" %}
                    {% endwith %}
                  {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end health behaviors widget -->
