            <!-- Notes Widget -->
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-greenDark" id="wid-patient-notes" data-widget-colorbutton="false" data-widget-editbutton="false">
                <header>
                    <h2><strong>Notes</strong> <i>&amp; Call Logs</i></h2>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <!-- <hr> -->
                        <div class="padding-10">
                            <ul class="nav nav-tabs tabs-pull-right">
                                <li class="active">
                                    <a href="#a1" data-toggle="tab" style="color: #333!important;">Providers</a>
                                </li>
                                <li>
                                    <a href="#a2" data-toggle="tab" style="color: #333!important;">Calls</a>
                                </li>
                                <li class="pull-left">
                                    <span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Notes</span>
                                </li>
                            </ul>
                            <div class="tab-content padding-top-10">
                                <div class="tab-pane fade in active" id="a1">
                                    <div class="alert alert-info fade in">
                                        <button class="close" data-dismiss="alert">
                                            ×
                                        </button>
                                        <i class="fa-fw fa fa-info"></i>
                                        <strong>Next Appointment </strong>Sep. 7
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-2">
                                            <time datetime="2014-09-20" class="icon">
                                                <strong>Aug</strong>
                                                <span>10</span>
                                            </time>
                                        </div>
                                        <div class="col-xs-10 col-sm-10">
                                            <h6 class="no-margin"><a href="javascript:void(0);">Dr. John Smith</a></h6>
                                            <p>
                                                Saw patient for upper respiratory symptoms.  Diagnosed virus.  Prescribed rest and fluids.
                                            </p>
                                        </div>
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                        <div class="col-xs-2 col-sm-2">
                                            <time datetime="2014-09-20" class="icon">
                                                <strong>Jul</strong>
                                                <span>30</span>
                                            </time>
                                        </div>
                                        <div class="col-xs-10 col-sm-10">
                                            <h6 class="no-margin"><a href="javascript:void(0);">Dr. Susan Smith</a></h6>
                                            <p>
                                                Visit regarding diabetes.  A1C 7.2.  Average BG 180.  Recommended Continuous Glucose Monitoring System.
                                            </p>
                                        </div>
                                        <div class="col-sm-12">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled">
                                                <a href="javascript:void(0);">Prev</a>
                                            </li>
                                            <li class="active">
                                                <a href="javascript:void(0);">1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">2</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">3</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">...</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">99</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Next</a>
                                            </li>
                                        </ul>
                                    </div> <!-- pagination -->
                                </div> <!-- /tab-pane a1 -->
                                <div class="tab-pane fade" id="a2">
                                    <div class="alert alert-info fade in">
                                        <button class="close" data-dismiss="alert">
                                            ×
                                        </button>
                                        <i class="fa-fw fa fa-info"></i>
                                        <strong>Last Call </strong>Jul. 7
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-2">
                                            <time datetime="2014-09-20" class="icon">
                                                <strong>Aug</strong>
                                                <span>10</span>
                                            </time>
                                        </div>
                                        <div class="col-xs-10 col-sm-10">
                                            <h6 class="no-margin"><a href="javascript:void(0);">Joan Jones</a></h6>
                                            <p>
                                                Verifying coverage for CGMS.
                                            </p>
                                        </div>
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                        <div class="col-xs-2 col-sm-2">
                                            <time datetime="2014-09-20" class="icon">
                                                <strong>Jul</strong>
                                                <span>30</span>
                                            </time>
                                        </div>
                                        <div class="col-xs-10 col-sm-10">
                                            <h6 class="no-margin"><a href="javascript:void(0);">Sue Smith</a></h6>
                                            <p>
                                                Confirmed payment of claim #3423.
                                            </p>
                                        </div>
                                        <div class="col-sm-12">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled">
                                                <a href="javascript:void(0);">Prev</a>
                                            </li>
                                            <li class="active">
                                                <a href="javascript:void(0);">1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">2</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">3</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">...</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">99</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Next</a>
                                            </li>
                                        </ul>
                                    </div> <!-- pagination -->
                                </div><!-- end tab-pane a2 -->
                            </div> <!-- padding -->
                        </div> <!-- tab content -->
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
