<!-- Community Sources Widget -->
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-blueDark"
    id="wid-community-sources"
    data-widget-collapsed="true"
    data-widget-togglebutton="false"
    data-widget-editbutton="false"
    data-widget-deletebutton="false">
    <header>
        <h2><strong>Community Data Sources</strong></h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        <div class="jarviswidget-editbox"> -->
            <!-- This area used as dropdown edit box -->
            <input class="form-control" type="text">
            <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
{% include 'rcg/community_data_sources_filtered.htm' %}

        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->
