<!DOCTYPE html>
{% load staticfiles %}
{% load healthcare_tags %}

<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title class="rcg-brand-text"> RCG|enable Healthcare {% block page_title %}{% endblock %}</title>
		<meta name="description" content="RCG Healthcare Demo">
		<meta name="author" content="RCG Global Services">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- #CSS Links -->
		<!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/font-awesome.min.css' %}">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-production-plugins.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-production.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-skins.min.css' %}">

		<!-- SmartAdmin RTL Support -->
		<!-- <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-rtl.min.css' %}"> -->

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/your_style.css' %}"> -->

	{% if "Test" in user.username or request.user|has_group:"Tester" %}
        <!-- SC: this is the twirling gears at top right that dynamically change page properties -->
		<!-- demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/demo.min.css' %}">
    {% endif %}

        <!-- SC: MFizz - Hadoop Icon -->
		<link rel="stylesheet" href="{% static 'fonts/font-mfizz-2.3.0/font-mfizz.css' %}">

        <!-- SC: RCG Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/rcghc_demo.css' %}">
    {% block page_stylesheets %}
        <!--link rel="stylesheet" href="{% static 'css/blog.css' %}"-->
    {% endblock %}

		<!-- #FAVICONS -->
		<!-- <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon"> -->
		<link rel="shortcut icon" href="{% static 'img/rcg/rcg-logo.png' %}" type="image/png">
		<link rel="icon" href="{% static 'img/rcg/rcg-logo.png' %}" type="image/png">
		<!-- <img src="{% static 'img/rcg/rcg-logo.png' %}" alt="RCG Healthcare" style="width:30px;height:30px;"> -->

		<!-- #GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- #APP SCREEN / ICONS -->
		<!-- Specifying a Webpage Icon for Web Clip
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<!-- <link rel="apple-touch-icon" href="{% static 'img/splash/sptouch-icon-iphone.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/splash/touch-icon-ipad.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/splash/touch-icon-iphone-retina.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/splash/touch-icon-ipad-retina.png' %}"> -->
		<link rel="apple-touch-icon" href="{% static 'img/rcg/rcg-logo.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/rcg/rcg-logo.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/rcg/rcg-logo.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/rcg/rcg-logo.png' %}">

		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!-- Startup image for web apps -->
		<!-- <link rel="apple-touch-startup-image" href="{% static 'img/splash/ipad-landscape.png' %}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="{% static 'img/splash/ipad-portrait.png' %}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="{% static 'img/splash/iphone.png' %}" media="screen and (max-device-width: 320px)"> -->
		<link rel="apple-touch-startup-image" href="{% static 'img/rcg/rcg-logo.png' %}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="{% static 'img/rcg/rcg-logo.png' %}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="{% static 'img/rcg/rcg-logo.png' %}" media="screen and (max-device-width: 320px)">
    {% block js_head %}
        <!--link rel="stylesheet" href="{% static 'css/blog.css' %}"-->
    {% endblock %}

	</head>

	<!--

	TABLE OF CONTENTS.

	Use search to find needed section.

	===================================================================

	|  01. #CSS Links                |  all CSS links and file paths  |
	|  02. #FAVICONS                 |  Favicon links and file paths  |
	|  03. #GOOGLE FONT              |  Google font link              |
	|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
	|  05. #BODY                     |  body tag                      |
	|  06. #HEADER                   |  header tag                    |
	|  07. #PROJECTS                 |  project lists                 |
	|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
	|  09. #MOBILE                   |  mobile view dropdown          |
	|  10. #SEARCH                   |  search field                  |
	|  11. #NAVIGATION               |  left panel & navigation       |
	|  12. #RIGHT PANEL              |  right panel userlist          |
	|  13. #MAIN PANEL               |  main panel                    |
	|  14. #MAIN CONTENT             |  content holder                |
	|  15. #PAGE FOOTER              |  page footer                   |
	|  16. #SHORTCUT AREA            |  dropdown shortcuts area       |
	|  17. #PLUGINS                  |  all scripts and plugins       |

	===================================================================

	-->

	<!-- #BODY -->
	<!-- Possible Classes

		* 'smart-style-{SKIN#}'
		* 'smart-rtl'         - Switch theme mode to RTL
		* 'menu-on-top'       - Switch to top navigation (no DOM change required)
		* 'no-menu'			  - Hides the menu completely
		* 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
		* 'fixed-header'      - Fixes the header
		* 'fixed-navigation'  - Fixes the main menu
		* 'fixed-ribbon'      - Fixes breadcrumb
		* 'fixed-page-footer' - Fixes footer
		* 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
	-->
	{% if "Test" in user.username %}
	{# {% if request.user|has_group:"Tester" %} #}
	<body class="">
	{% else %}
	<body class="menu-on-top fixed-navigation fixed-header">
	{% endif %}

		<!-- #HEADER -->
 		<header id="header">
			<div id="logo-group">
				<!-- PLACE YOUR LOGO HERE -->
				<span id="rcg-logo"> <!-- SC: removed "logo" id -->
				    <!-- <img src="img/logo.png" alt="SmartAdmin"> -->
					<!--<img src="img/rcg/rcg-logo.png" alt="RCG Healthcare" style="width:30px;height:30px;">-->
					{# <img src="{# static 'img/rcg/rcg-logo.png' %}" alt="RCG Healthcare" style="width:30px;height:30px;"> #}
					<img class="rcg-left-logo" src="{% static 'img/rcg/rcg-logo.png' %}">
				</span>
				<span class="rcg-brand-text">
					&nbsp;RCG|<span style="color:red;">enable</span>&trade; Healthcare
				</span>
				<!-- END LOGO PLACEHOLDER -->
			</div>

            <!-- SC: Moved these down into inner frame -->
				<!-- AJAX-DROPDOWN -->
			<!-- #PROJECTS: projects dropdown -->

			<!-- #TOGGLE LAYOUT BUTTONS -->
			<!-- pulled right: nav area -->
			<div class="pull-right">

				<div id="ahp-logo" class="btn-header transparent pull-right">
					<img class="ahp-right-logo" src="{% static 'img/rcg/ahp-logo.png' %}" />
				</div>

				<!-- collapse menu button -->
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu">
						<i class="fa fa-reorder"></i></a> </span>
				</div>
				<!-- end collapse menu -->

				<!-- logout button -->
				<div id="logout2" class="btn-header transparent pull-right">
					<span> <a href="{% url 'logout' %}" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this browser">
						<i class="fa fa-sign-out"></i></a> </span>
				</div>
				<!-- end logout button -->

				<!-- fullscreen button -->
				<div id="fullscreen" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen">
						<i class="fa fa-arrows-alt"></i></a> </span>
				</div>
				<!-- end fullscreen button -->

				<!-- Top menu profile link : this shows only when top menu is active -->
				<!-- SC: turn this on for demo purpose -->
            {% if user.is_authenticated %}
				<!-- <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5"> -->
				<!-- <ul id="rcg-right-profile" class="header-dropdown-list hidden-xs padding-10"> -->
				<ul id="rcg-right-profile" class="header-dropdown-list hidden-xs padding-10">
					<li class="">
						<a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
						{% if "Test" in user.username %}
						{{ user.first_name }} {{ user.last_name }}
						    &nbsp;&nbsp;
						{% endif %}
							<!--<img id="rcg-right-profile-img" src="{# static 'img/avatars/Scott.jpg' #}" alt="Scott" class="online" />-->
							<!-- this works for media files but not doing that due to heroku
							<img id="rcg-right-profile-img" src="{# user.userprofile.picture.url #}" alt="{# user.name #}" class="online" />-->
							<!-- <img id="rcg-right-profile-img" src="{% static user.userprofile.picture %}" alt="{{ user.name }}" class="online" /> -->
							<img id="rcg-right-profile-img" src="{% static user.userprofile.picture_path %}" title="{{ user.first_name }} {{ user.last_name }}"  />
						</a>
						<ul class="dropdown-menu pull-right">
						{% if "Test" in user.username %}
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0">
									<i class="fa fa-cog"></i> Setting</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0">
									<i class="fa fa-user"></i> <u>P</u>rofile</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut">
									<i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
							</li>
							<li class="divider"></li>
						{% endif %}
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen">
								<i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href={% url 'logout' %} class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout">
								<i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- end top menu profile link -->
            {% endif %}

				<!-- #MOBILE -->
				<!-- search mobile button (this is hidden till mobile view port) -->
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<!-- end search mobile button -->

				<!-- #SEARCH -->
				<!-- input: search field -->
				<!--<form action="search.html" class="header-search pull-right">
					<input id="search-fld"  type="text" name="param" placeholder="Find reports and more" data-autocomplete='[
					"ActionScript",
					"AppleScript",
					"Asp",
					"BASIC",
					"C",
					"C++",
					"Clojure",
					"COBOL",
					"ColdFusion",
					"Erlang",
					"Fortran",
					"Groovy",
					"Haskell",
					"Java",
					"JavaScript",
					"Lisp",
					"Perl",
					"PHP",
					"Python",
					"Ruby",
					"Scala",
					"Scheme"]'>
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
					<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
				</form>-->
				<!-- end input: search field -->

				<!-- #Voice Command: Start Speech -->
				<!--<div id="speech-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
					<div>
						<a href="javascript:void(0)" title="Voice Command" data-action="voiceCommand"><i class="fa fa-microphone"></i></a>
						<div class="popover bottom"><div class="arrow"></div>
							<div class="popover-content">
								<h4 class="vc-title">Voice command activated <br><small>Please speak clearly into the mic</small></h4>
								<h4 class="vc-title-error text-center">
									<i class="fa fa-microphone-slash"></i> Voice command failed
									<br><small class="txt-color-red">Must <strong>"Allow"</strong> Microphone</small>
									<br><small class="txt-color-red">Must have <strong>Internet Connection</strong></small>
								</h4>
								<a href="javascript:void(0);" class="btn btn-success" onclick="commands.help()">See Commands</a>
								<a href="javascript:void(0);" class="btn bg-color-purple txt-color-white" onclick="$('#speech-btn .popover').fadeOut(50);">Close Popup</a>
							</div>
						</div>
					</div>
				</div>-->
				<!-- end voice command -->

				<!-- multiple lang dropdown : find all flags in the flags page -->
				<!--<ul class="header-dropdown-list hidden-xs">
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="img/blank.gif" class="flag flag-us" alt="United States"> <span> English (US) </span> <i class="fa fa-angle-down"></i> </a>
						<ul class="dropdown-menu pull-right">
							<li class="active">
								<a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-us" alt="United States"> English (US)</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-fr" alt="France"> Français</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-es" alt="Spanish"> Español</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-de" alt="German"> Deutsch</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-jp" alt="Japan"> 日本語</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-cn" alt="China"> 中文</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-it" alt="Italy"> Italiano</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-pt" alt="Portugal"> Portugal</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-ru" alt="Russia"> Русский язык</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-kr" alt="Korea"> 한국어</a>
							</li>
						</ul>
					</li>
				</ul>-->
				<!-- end multiple lang -->
			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->

		<!-- #NAVIGATION -->
		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">
    	{% block left_panel %}
			<!-- User info -->
			<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it -->
					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                        <!-- SC: login -->
                    {% if user.is_authenticated %}
						<!--<img src=" static 'img/avatars/sunny.png' " alt="me" class="online" />-->
						<!-- <img src="{# static 'img/avatars/Scott.jpg' #}" alt="me" class="online" /> -->
						<!-- this works if using the media directory but not doing that for ease with heroku
						<img src="{# user.userprofile.picture.url #}" alt="{# user.name #}" class="online" />-->
						<!-- <img src="{% static user.userprofile.picture %}" alt="{# user.name #}" class="online" /> -->
						<img src="{% static user.userprofile.picture_path %}" alt="{# user.name #}" class="online" />
                        {{ user.username }}
                        <!--<small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>-->
                    {% else %}
                        <a href="{% url 'login' %}" class="top-menu">
                            Login &nbsp;<span class="glyphicon glyphicon-lock"></span></a>
                    {% endif %}
						<i class="fa fa-angle-down"></i>
 					</a>
				</span>
			</div>
			<!-- end user info -->

			<nav>
				<!--
				NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->
				<ul>
					{% if request.META.HTTP_HOST == '127.0.0.1:8000' or request.META.HTTP_HOST == 'demo1.rcg-healthcare.com' or request.META.HTTP_HOST == 'hcdev1.rcgenable.com' %}
					<li>
						<a href="" title="Development: {{ request.META.HTTP_HOST }}"><i class="fa fa-lg fa-fw fa-gear txt-color-yellow"></i>
							<span class="menu-item-parent">DEV</span></a>
					</li>
					{% endif %}
					{% if "Test" in user.username %}
					<li {% block nav_rcg %}{% endblock %} >
						<a href="/rcg" title="RCG"><i class="fa fa-lg fa-fw fa-home"></i>
							<span class="menu-item-parent">RCG</span></a>
					</li>
					{% endif %}
					<li {% block nav_big_data %}{% endblock %} >
						<a href="/" title="Big Data"><i class="font-mfizz icon-hadoop" style="font-size:36px; margin-top:-3px; margin-bottom:-8px;"></i>
							<span class="menu-item-parent">Big Data</span></a>
					</li>
					<li {% block nav_members %}{% endblock %}>
						<a href="{% url 'members' %}" title="Member List"><i class="fa fa-lg fa-fw fa-table"></i>
							<span class="menu-item-parent">Members</span></a>
					</li>
					<li {% block nav_providers %}{% endblock %}>
						<a href="{% url 'providers' %}" title="Provider List"><i class="fa fa-lg fa-fw fa-list-alt"></i>
							<span class="menu-item-parent">Providers</span></a>
					</li>
					<li {% block nav_demo %}{% endblock %} >
						<a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Demo</span></a>
						<ul>
							<li {% block nav_member_detail %}{% endblock %} >
								<a href="{% url 'member_detail' pk=4 %}" title="Member"><i class="fa fa-picture-o"></i>
									<span class="menu-item-parent">Member Detail</span></a>
							</li>
						</ul>
					</li>
					<li {% block nav_map_county %}{% endblock %} >
						<a href="{% url 'map_county' pk=user.userprofile.safe_provider %}" title="Map"><i class="fa fa-lg fa-fw fa-map-marker"></i>
							<span class="menu-item-parent">Community</span></a>
					</li>
					{% if "Test" in user.username or request.user|has_group:"Tester" %}
					<li {% block nav_test %}{% endblock %} >
						<a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Test</span></a>
						<ul>
							<li {% block nav_member_detail1 %}{% endblock %} >
								<a href="{% url 'member_detail1' pk=4 %}" title="Member"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Member Detail</span></a>
							</li>
							<li {% block nav_map_county1 %}{% endblock %} >
								<a href="{% url 'map_county' pk=user.userprofile.safe_provider %}" title="Map"><i class="fa fa-lg fa-fw fa-gear"></i>
									<span class="menu-item-parent"> {{user.userprofile.provider_id}} Provider Map</span></a>
							</li>
 							<li {% block nav_sms %}{% endblock %} >
								<a href="{% url 'sms' pk=4 %}" title="SMS"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">SMS</span></a>
							</li>
							<li {% block nav_ajax %}{% endblock %} >
								<a href="{% url 'post_ajax' %}" title="post_ajax"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Ajax</span></a>
							</li>
							<li {% block nav_heartrate2 %}{% endblock %} >
								<a href="{% url 'heartrate2' pk=4 %}" title="heartrate2"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Heartrate2</span></a>
							</li>
							<li {% block nav_rcg2 %}{% endblock %} >
								<a href="/rcg" title="RCG"><i class="fa fa-lg fa-fw fa-home"></i>
									<span class="menu-item-parent">RCG</span></a>
							</li>
							<li>
								<a href="{% static 'index-orig.html' %}" title="Analytics"><span class="menu-item-parent">Analytics Dashboard</span></a>
							</li>
						</ul>
					</li>
					<li {% block nav_dashboard %}{% endblock %} >
						<a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i>
							<span class="menu-item-parent">Dashboard</span></a>
						<ul>
							<li {% block nav_index %}{% endblock %} >
								<a href="/" title="Index"><span class="menu-item-parent">Home</span></a>
							</li>
							<li {% block nav_members1 %}{% endblock %}>
								<a href="{% url 'members' %}" title="Members"><span class="menu-item-parent">Member List</span></a>
							</li>
							<li {% block nav_providers1 %}{% endblock %}>
								<a href="{% url 'providers' %}" title="Providers"><span class="menu-item-parent">Provider List</span></a>
							</li>
							<li>
								<a href="{% static 'index-orig.html' %}" title="Analytics"><span class="menu-item-parent">Analytics Dashboard</span></a>
							</li>
						</ul>
					</li>
					<li class="top-menu-invisible">
						<a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Graphs</span></a>
						<ul>
							<li class="">
								<a href="{% static 'flot.html' %}">Flot Chart</a>
							</li>
							<li>
								<a href="{% static 'morris.html' %}">Morris Charts</a>
							</li>
							<li>
								<a href="{% static 'hchartable.html' %}">HighchartTable <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Tables</span></a>
						<ul>
							<li>
								<a href="{% static 'table.html' %}">Normal Tables</a>
							</li>
							<li>
								<a href="{% static 'datatables.html' %}">Data Tables <span class="badge inbox-badge bg-color-greenLight hidden-mobile">responsive</span></a>
							</li>
						</ul>
					</li>
					{% endif %}
				</ul>
	            <div class="pull-right">
					<div id="ribbon">
		            {% if user.is_authenticated %}
			            <!-- reset widget settings -->
						<span class="ribbon-button-alignment">
							<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
								<i class="fa fa-refresh"></i>
							</span>
						</span>
						<!-- breadcrumb -->
						<ol class="breadcrumb">
		                {% block breadcrumb %}
							<li>Home</li>
		                {% endblock %}
						</ol>
						<!-- end breadcrumb -->
		                <!-- end top menu profile link -->
		            {% endif %}
		            </div>
	            </div>
	            <!-- end pulled right: nav area -->
			</nav>

			<span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>
		{% endblock %}
		</aside>
		<!-- END NAVIGATION -->


		<!-- #MAIN PANEL -->
		<div id="main" role="main" >

			{% if "Test" in user.username%}
			<!-- RIBBON -->
			<div id="ribbon">
                <!-- reset widget settings -->
				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
                {% block breadcrumb1 %}
					<!--<li>Home</li>-->
                {% endblock %}
				</ol>
				<!-- end breadcrumb -->
				<!-- You can also add more buttons to the
				ribbon for further usability
				Example below:
				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->
				<span class="ribbon-button-alignment pull-right">
    				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
					<span id="add" class="btn btn-ribbon hidden-xs" data-title="add">
						<i class="fa-plus"></i> Add</span>
					<span id="search" class="btn btn-ribbon" data-title="search">
						<i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
					<span id="logo2">
						<img class="rcg-right-logo" src="{% static 'img/rcg/rcg-logo.png' %}">
					</span>
				</span>
			</div>
			<!-- END RIBBON -->
			{% endif %}

			<!-- MAIN CONTENT -->
			<div id="content" >
                        <!--{{ user.userprofile.picture }}<br>
                        {{ user.userprofile.picture.name }}<br>
                        {{ user.userprofile.picture.url }}<br>
                        user.userprofile.picture.url
                        <img src="{# user.userprofile.picture.url #}" alt="me" class="online" /><br>
                        static user.userprofile.picture
						<img src="{# static user.userprofile.picture #}" alt="me" class="online" /><br>
						<img src="{# static user.userprofile.picture_path #}" alt="me" class="online" /><br>
						static 'img/avatars/Scott.jpg'
						<img src="{# static 'img/avatars/Scott.jpg' #}" alt="me" class="online" /><br>-->
            {% block main_content %}
                <!--img src="{% static 'img/rcg/rcg-enable.png' %}" alt="RCG Healthcare">-->
            {% endblock %} <!-- main content -->

			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->



		<!-- PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">RCG|enable&trade; Healthcare © 2016 RCG.
					    <span class="hidden-xs">All Rights Reserved. Proprietary and Confidential.</span></span>
				</div>

				<div class="col-xs-6 col-sm-6 text-right hidden-xs">
					<div class="txt-color-white inline-block">
						<i class="txt-color-blueLight hidden-mobile">
                        {% if user.is_authenticated %}
				            Last login <i class="fa fa-clock-o"></i>
				            <strong> {{ user.last_login }} &nbsp;</strong>
                        {% endif %}
						</i>
					{% if "Test" in user.username %}
						<div class="btn-group dropup">
							<button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown">
								<i class="fa fa-link"></i> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right text-left">
								<li>
									<div class="padding-5">
										<p class="txt-color-darken font-sm no-margin">Current Queue</p>
										<div class="progress progress-micro no-margin">
											<div class="progress-bar progress-bar-success" style="width: 50%;"></div>
										</div>
									</div>
								</li>
								<li class="divider"></li>
								<li>
									<div class="padding-5">
										<p class="txt-color-darken font-sm no-margin">Ave Call Time</p>
										<div class="progress progress-micro no-margin">
											<div class="progress-bar progress-bar-success" style="width: 20%;"></div>
										</div>
									</div>
								</li>
								<li class="divider"></li>
								<li>
									<div class="padding-5">
										<p class="txt-color-darken font-sm no-margin">Ave Wait Time <span class="text-danger">*critical*</span></p>
										<div class="progress progress-micro no-margin">
											<div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
										</div>
									</div>
								</li>
								<li class="divider"></li>
								<li>
									<div class="padding-5">
										<button class="btn btn-block btn-default">refresh</button>
									</div>
								</li>
							</ul>
						</div>
					{% endif %}
					</div>
				</div> <!-- bottom right -->
			</div> <!-- row -->
		</div>
		<!-- END PAGE FOOTER -->

	{% if "Test" in user.username %}
		<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
		Note: These tiles are completely responsive,
		you can add as many as you like
		-->
		<div id="shortcut">
			<ul>
				<li>
					<a href="{% static 'inbox.html' %}" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
				</li>
				<li>
					<a href="{% static 'calendar.html' %}" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
				</li>
				<li>
					<a href="{% static 'gmap-xml.html' %}" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
				</li>
				<li>
					<a href="{% static 'invoice.html' %}" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
				</li>
				<li>
					<a href="{% static 'gallery.html' %}" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
				</li>
				<li>
					<a href="{% static 'profile.html' %}" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
				</li>
			</ul>
		</div>
		<!-- END SHORTCUT AREA -->
	{% endif %}

		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<!-- // <script data-pace-options='{ "restartOnRequestAfter": true }' src="{% static 'js/plugin/pace/pace.min.js' %}"></script> -->


		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="{% static 'js/libs/jquery-2.1.1.min.js' %}"><\/script>');
			}
		</script>

		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="{% static 'js/libs/jquery-ui-1.10.3.min.js' %}"><\/script>');
			}
		</script>

		<!-- IMPORTANT: APP CONFIG -->
		<script src="{% static 'js/app.config.js' %}"></script>

    {% block js_touch %}
		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
		<!-- // <script src="{% static 'js/plugin/jquery-touch/jquery.ui.touch-punch.min.js' %}"></script> -->
    {% endblock %}

		<!-- BOOTSTRAP JS -->
		<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    {% block js_smartadmin %}
		<!-- CUSTOM NOTIFICATION -->
		<!-- // <script src="{% static 'js/notification/SmartNotification.min.js' %}"></script> -->

		<!-- JARVIS WIDGETS -->
		<!-- // <script src="{% static 'js/smartwidgets/jarvis.widget.min.js' %}"></script> -->

		<!-- EASY PIE CHARTS -->
		<!-- // <script src="{% static 'js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js' %}"></script> -->

		<!-- SPARKLINES -->
		<!-- // <script src="{% static 'js/plugin/sparkline/jquery.sparkline.min.js' %}"></script> -->

		<!-- JQUERY VALIDATE -->
		<!-- // <script src="{% static 'js/plugin/jquery-validate/jquery.validate.min.js' %}"></script> -->

		<!-- JQUERY MASKED INPUT -->
		<!-- // <script src="{% static 'js/plugin/masked-input/jquery.maskedinput.min.js' %}"></script> -->

		<!-- JQUERY SELECT2 INPUT -->
		<!-- // <script src="{% static 'js/plugin/select2/select2.min.js' %}"></script> -->

		<!-- JQUERY UI + Bootstrap Slider -->
		<!-- // <script src="{% static 'js/plugin/bootstrap-slider/bootstrap-slider.min.js' %}"></script> -->
    {% endblock %} <!-- js_smartadmin -->

		<!-- browser msie issue fix -->
		<script src="{% static 'js/plugin/msie-fix/jquery.mb.browser.min.js' %}"></script>

		<!-- FastClick: For mobile devices -->
		<script src="{% static 'js/plugin/fastclick/fastclick.min.js' %}"></script>

		<!--[if IE 8]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

	{% if "Test" in user.username %}
        <!-- SC: this is the twirling gears at top right that dynamically change page properties -->
		<!-- demo purpose only -->
		<script src="{% static 'js/demo.min.js' %}"></script>
	{% endif %}

		<!-- MAIN APP JS FILE -->
		<script src="{% static 'js/app.min.js' %}"></script>

    {% block js_voice_chat %}
		<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
		<!-- Voice command : plugin -->
		<!-- // <script src="{% static 'js/speech/voicecommand.min.js' %}"></script> -->

		<!-- SmartChat UI : plugin -->
		<!-- // <script src="{% static 'js/smart-chat-ui/smart.chat.ui.min.js' %}"></script> -->
		<!-- // <script src="{% static 'js/smart-chat-ui/smart.chat.manager.min.js' %}"></script> -->
    {% endblock %}

		<!-- PAGE RELATED PLUGIN(S)
		<script src="..."></script>-->

    {% block js_page_plugins %}
    {% endblock %} <!-- js_page_plugins -->

    {% block js_doc_ready %}
		<!-- DOCUMENT READY FUNCTION -->
		<!--<script type="text/javascript">-->

			<!--// PAGE RELATED DECLARATIONS

			// $(document).ready(function() {

				/* DO NOT REMOVE : GLOBAL FUNCTIONS!
				 *
				 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
				 *
				 * // activate tooltips
				 * $("[rel=tooltip]").tooltip();
				 *
				 * // activate popovers
				 * $("[rel=popover]").popover();
				 *
				 * // activate popovers with hover states
				 * $("[rel=popover-hover]").popover({ trigger: "hover" });
				 *
				 * // activate inline charts
				 * runAllCharts();
				 *
				 * // setup widgets
				 * setup_widgets_desktop();
				 *
				 * // run form elements
				 * runAllForms();
				 *
				 ********************************
				 *
				 * pageSetUp() is needed whenever you load a page.
				 * It initializes and checks for all basic elements of the page
				 * and makes rendering easier.
				 *
				 */

				 // pageSetUp();

				/*
				 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
				 * eg alert("my home function");
				 *
				 * var pagefunction = function() {
				 *   ...
				 * }
				 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
				 *
				 * TO LOAD A SCRIPT:
				 * var pagefunction = function (){
				 *  loadScript(".../plugin.js", run_after_loaded);
				 * }
				 *
				 * OR
				 *
				 * loadScript(".../plugin.js", run_after_loaded);
				 */

			// })-->
		<!--</script>-->
		<!-- END DOCUMENT READY FUNCTION -->
    {% endblock %} <!-- js_doc_ready -->

		<!-- Your GOOGLE ANALYTICS CODE Below -->
		<!--<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
			})();
		</script>-->

	</body>

</html>
