{% extends 'healthcare/base.html' %}
{% load staticfiles %}

{% block page_title %}{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/marquee.css' %}" />
{% endblock %}

{# {% block nav_dashboard %}class="active"{% endblock %} #}
{% block nav_big_data %}class="active"{% endblock %}

{% block breadcrumb %}
    <li>Big Data</li>
{% endblock %}
{% block breadcrumb1 %}
    <li>Big Data</li>
{% endblock %}


{% block main_content %}

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- SC main grid row -->
    <div class="row">

        <!-- NEW WIDGET COLUMN START -->
        <article class="col-sm-12">

            <!-- Data Volume Widget -->
            {% include "widget/_wid_bigdata.html" %}

        </article>
        <!-- WIDGET COLUMN END -->

    </div>
    <!-- end SC main grid row -->

</section>
<!-- end widget grid -->

<!-- row for news ticker -->
{% include "widget/_news_ticker.html" %}



{% endblock %} <!-- main content -->


<!-- copied here for reference and to remove the comments in base from rendered pages -->
{% block js_touch %}
{% endblock %}

{% block js_smartadmin %}
    <!-- JARVIS WIDGETS -->
    <script src="{% static 'js/rcg/rcg.jarvis.widget.js' %}"></script>
{% endblock %} <!-- js_smartadmin -->

{% block js_voice_chat %}
{% endblock %}

{% block js_page_plugins %}
    <!-- SC: news ticker -->
    <!-- https://github.com/conradfeyt/Simple-Marquee -->
    <!-- // <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <script type="text/javascript" src="{% static 'js/marquee.js' %}"></script>
    <script>
        $(function (){
            $('.simple-marquee-container').SimpleMarquee();
        });
    </script>
{% endblock %} <!-- js_page_plugins -->

{% block js_doc_ready %}
    <!-- DOCUMENT READY FUNCTION -->
    <script type="text/javascript">
        $(document).ready(function() {
             pageSetUp();
        })
    </script>
    <!-- END DOCUMENT READY FUNCTION -->
{% endblock %} <!-- js_doc_ready -->
