{% extends 'healthcare/base.html' %}
{% load staticfiles %}
<!--SC: https://snakeycode.wordpress.com/2014/10/26/django-template-filter-for-formating-currency/-->
{% load humanize %}
<!--SC: https://docs.djangoproject.com/en/1.10/howto/custom-template-tags/ -->
<!--SC: https://djangosnippets.org/snippets/9/ -->
{% load demo_tags %}

{% block page_title %}Member Detail{% endblock %}

{% block nav_demo %}class="active"{% endblock %}
{% block nav_heartrate2 %}class="active"{% endblock %}

{% block page_stylesheets %}
		<link rel="stylesheet" href="{% static 'css/marquee.css' %}" />
{% endblock %}

{% block breadcrumb %}
	<li>Home</li><li>Member</li><li>Detail</li>
{% endblock %}
{% block breadcrumb1 %}
	<li>Home</li><li>Member</li><li>Detail</li>
{% endblock %}


{% block main_content %}

{# expr member.pcp() as pcp #}

<!-- SC header row -->
<div class="row">
	<div class="col-sm-1 profile-pic">
		<!-- <br><br>
		<img src="img/avatars/4.png" alt="healthcare user"> -->
		<!-- Note: The activity badge color changes when clicked and resets the number to 0
		Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
		<span id="activity" class="activity-dropdown">
			<!-- <i class="fa fa-user"></i>  -->
			{# <img src="{% static 'img/avatars/4.png' %}" alt="healthcare user"> #}
            {% if member.picture_path %}
                <img src="{% static member.picture_path %}" alt="{# member.name #}" />
            {% elif member.sex == 'F' %}
                <img src="{% static 'img/avatars/female.png' %}" alt="{# member.name #}" />
            {% else %}
                <img src="{% static 'img/avatars/fale.png' %}" alt="{# member.name #}" />
            {% endif %}
			<b class="badge"> 21 </b>
		</span>
		<!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
		<div class="ajax-dropdown">
			<!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
			<div class="btn-group btn-group-justified" data-toggle="buttons">
				<label class="btn btn-default">
					<input type="radio" name="activity" id="{% static 'ajax/notify/mail.html' %}">
					Msgs (14) </label>
				<label class="btn btn-default">
					<input type="radio" name="activity" id="{% static 'ajax/notify/notifications.html' %}">
					notify (3) </label>
				<label class="btn btn-default">
					<input type="radio" name="activity" id="{% static 'ajax/notify/tasks.html' %}">
					Tasks (4) </label>
			</div>
			<!-- notification content -->
			<div class="ajax-notifications custom-scroll">
				<div class="alert alert-transparent">
					<h4>Click a button to show messages here</h4>
					This blank page message helps protect your privacy, or you can show the first message here automatically.
				</div>
				<i class="fa fa-lock fa-4x fa-border"></i>
			</div>
			<!-- end notification content -->
			<!-- footer: refresh area -->
			<span> Last updated on: 8/12/2016 9:43AM
				<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
					<i class="fa fa-refresh"></i>
				</button> </span>
			<!-- end footer -->
		</div>
		<!-- END AJAX-DROPDOWN -->
	</div>

	<div class="col-sm-2">
		<!-- dropdown -->
		<div class="project-context hidden-xs">
			<span class="project-selector  dropdown-toggle" data-toggle="dropdown" style="text-transform: none; margin-top: -10px;">
				<h1>{{ member.first_name }}<span class="semi-bold"> {{ member.last_name }}</span>
					<i class="fa fa-angle-down"></i></h1>
			</span>
			<h1 style="margin-top: -10px;"><small>{{ member.plan_name }}</small></h1>

			<!-- Suggestion: populate this list with fetch and push technique -->
			<ul class="dropdown-menu">
				<li>
					<a href="javascript:void(0);">Primary Conditions:</a>
				</li>
				<li>
					<a href="javascript:void(0);">&nbsp;-&nbsp;Hypertension</a>
				</li>
				<li>
					<a href="javascript:void(0);">&nbsp;-&nbsp;Type 1 Diabetes (IDDM)</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>
				</li>
			</ul>
			<!-- end dropdown-menu-->
		</div>
		<!-- end projects dropdown -->
	</div>

	<!-- right side of the page with the sparkline graphs -->
	<!-- sparkline col -->
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-9">
		<!-- sparks -->
		<ul id="sparks">
			<li class="sparks-info" style="min-width: 10px;">
				<div> Sex <span class="txt-color-blue">{{ member.sex }}</span></div>
			</li>
			<li class="sparks-info" style="min-width: 10px;">
				<h5> Age <span class="txt-color-blue">{{ member.age }}</span></h5>
			</li>
			<li class="sparks-info" style="min-width: 15px;">
				<h5> Height <span class="txt-color-blue">{{ member.height.value_str }}</span></h5>
			</li>
			<li class="sparks-info">
				<h5> Weight <span class="txt-color-blue">
					{% if member.weight.value_1_trend > 0 %}
						<i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increasing"></i>
					{% elif member.weight.value_1_trend < 0 %}
						<i class="fa fa-arrow-circle-down" data-rel="bootstrap-tooltip" title="Decreasing"></i>
					{% else %}
						<i class="fa fa-arrow-circle-right" data-rel="bootstrap-tooltip" title="Stable"></i>
					{% endif %}
					&nbsp;{{ member.weight.value_1 | floatformat:"0" }}</span>
				</h5>
					<!--100, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471-->
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
					{{ member.weight.value_1_history }}
				</div>
			</li>
			<li class="sparks-info">
				<h5> BP <span class="txt-color-greenDark">
					{% if member.bp.value_1_trend > 0 %}
						<i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increasing"></i>
					{% elif member.bp.value_1_trend < 0 %}
						<i class="fa fa-arrow-circle-down" data-rel="bootstrap-tooltip" title="Decreasing"></i>
					{% else %}
						<i class="fa fa-arrow-circle-right" data-rel="bootstrap-tooltip" title="Stable"></i>
					{% endif %}
					&nbsp;{{ member.bp.value_str }}</span>
				</h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
					{{ member.bp.value_1_history }}
				</div>
			</li>
			<li class="sparks-info">
				<h5> HR <span class="txt-color-red">
					{% if member.hr.value_1_trend > 0 %}
						<i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increasing"></i>
					{% elif member.hr.value_1_trend < 0 %}
						<i class="fa fa-arrow-circle-down" data-rel="bootstrap-tooltip" title="Decreasing"></i>
					{% else %}
						<i class="fa fa-arrow-circle-right" data-rel="bootstrap-tooltip" title="Stable"></i>
					{% endif %}
					&nbsp;{{ member.hr.value_1 | floatformat:"0" }}</span>
				</h5>
				<div class="sparkline txt-color-red hidden-mobile hidden-md hidden-sm">
					{{ member.hr.value_1_history }}
				</div>
			</li>
		</ul>
		<!-- end sparks -->
	</div>
	<!-- end sparkline col -->

</div>
<!-- end SC header row -->


<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- SC main grid row -->
	<div class="row">

		<!-- NEW WIDGET PATIENT INFO COLUMN 1 START -->
		<article class="col-sm-12 col-md-12 col-lg-4">

			<!-- SC Fitbit Heartrate Chart -->
        	{% include "widget/_wid_heartrate_fitbit.html" %}

		</article>
		<!-- WIDGET PATIENT INFO COLUMN 1 END -->

	</div>
	<!-- end SC main grid row -->


</section>
<!-- end widget grid -->

{% endblock %} <!-- main content -->


<!-- copied here for reference -->
{% block js_touch %}
{% endblock %}

{% block js_smartadmin %}
		<!-- CUSTOM NOTIFICATION -->
		<script src="{% static 'js/notification/SmartNotification.min.js' %}"></script>

		<!-- JARVIS WIDGETS -->
		<script src="{% static 'js/smartwidgets/jarvis.widget.min.js' %}"></script>

		<!-- EASY PIE CHARTS -->
		<script src="{% static 'js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js' %}"></script>

		<!-- SPARKLINES -->
		<script src="{% static 'js/plugin/sparkline/jquery.sparkline.min.js' %}"></script>

		<!-- JQUERY VALIDATE -->
		<script src="{% static 'js/plugin/jquery-validate/jquery.validate.min.js' %}"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="{% static 'js/plugin/masked-input/jquery.maskedinput.min.js' %}"></script>

		<!-- JQUERY SELECT2 INPUT -->
		<script src="{% static 'js/plugin/select2/select2.min.js' %}"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="{% static 'js/plugin/bootstrap-slider/bootstrap-slider.min.js' %}"></script>
{% endblock %} <!-- js_smartadmin -->

{% block js_voice_chat %}
{% endblock %}

{% block js_page_plugins %}
		<!-- SC: dygraph -->
		<script src="{% static 'js/plugin/dygraphs/healthcare-data.min.js' %}"></script>
		<!-- DYGRAPH -->
		<script src="{% static 'js/plugin/dygraphs/dygraph-combined.min.js' %}"></script>
		<!-- progress bars -->
		<script src="{% static 'js/plugin/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
		</script>
		<!-- /SC: dygraph -->

		<!-- SC: flot -->
		<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
		<script src="{% static 'js/plugin/flot/jquery.flot.cust.min.js' %}"></script>
		<script src="{% static 'js/plugin/flot/jquery.flot.resize.min.js' %}"></script>
		<script src="{% static 'js/plugin/flot/jquery.flot.fillbetween.min.js' %}"></script>
		<script src="{% static 'js/plugin/flot/jquery.flot.orderBar.min.js' %}"></script>
		<script src="{% static 'js/plugin/flot/jquery.flot.pie.min.js' %}"></script>
		<script src="{% static 'js/plugin/flot/jquery.flot.time.min.js' %}"></script>
		<script src="{% static 'js/plugin/flot/jquery.flot.tooltip.min.js' %}"></script>
		<!-- /SC: flot -->


		<!-- SC: news ticker -->
		<!-- https://github.com/conradfeyt/Simple-Marquee -->
		<!-- // <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
		<script type="text/javascript" src="{% static 'js/marquee.js' %}"></script>
		<script>
			$(function (){
				$('.simple-marquee-container').SimpleMarquee();
			});
		</script>
		<!-- /SC: news ticker -->

{% endblock %} <!-- js_page_plugins -->

{% block js_doc_ready %}
    <!-- PAGE RELATED DECLARATIONS -->
    <script src="{% static 'js/rcg/flot_colors.js' %}"></script>

    <!-- DOCUMENT READY FUNCTION -->
    <script type="text/javascript">

		// PAGE RELATED DECLARATIONS
        var $member_id = {{ member.id }};

		$(document).ready(function() {

			pageSetUp();

			/* ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
			 * TO LOAD A SCRIPT:
			 * var pagefunction = function (){
			 *  loadScript(".../plugin.js", run_after_loaded);
			 * }
			 * OR
			 * loadScript(".../plugin.js", run_after_loaded);
			 */
            loadScript("{% static 'js/rcg/heartrate.js' %}", true);
        })

    </script>
    <!-- END DOCUMENT READY FUNCTION -->
{% endblock %} <!-- js_doc_ready -->
