{% extends 'healthcare/base.html' %}
{% load staticfiles %}
<!--SC: https://snakeycode.wordpress.com/2014/10/26/django-template-filter-for-formating-currency/-->
{% load humanize %}
<!--SC: https://docs.djangoproject.com/en/1.10/howto/custom-template-tags/ -->
<!--SC: https://djangosnippets.org/snippets/9/ -->
{% load healthcare_tags %}
{# http://stackoverflow.com/questions/844746/performing-a-getattr-style-lookup-in-a-django-template #}

{% block page_title %}| Members {% endblock %}

{% block nav_map_county %}class="active"{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{% static 'healthcare/css/marquee.css' %}" />
  {% endblock %}

{% block breadcrumb %}
  <li>Members &amp; Community Data</li>
 {% endblock %}
{% block breadcrumb1 %}
  <li>Members &amp; Community Data</li>
 {% endblock %}


  {% block main_content %}

<!-- SC county form row -->
<div class="row">
    <form method="POST" class="county_data-form" id="county_data-form">
	<ol class="breadcrumb">
    	{% csrf_token %}
        {{ form.as_ul }}
        <li><button type="submit" class="btn btn-default btn-xs">Get</button></li>
    </ol>
    <div id="county_data-form-results"></div> <!-- errors go here -->
    </form>
</div>
<!-- end SC county form row -->

<!-- widget grid -->
<section id="widget-grid" class="">

  <!-- WIDGET ROW START -->
	<div class="row">
    <!-- WIDGET COLUMN 1 START -->
		<article class="col-sm-12 col-md-5 col-lg-5">

      <!-- Provider Map Widget-->
      {% include "widget/_wid_member_map.html" with person=provider %}

      <!-- Map directions widget -->
      {% include "widget/_wid_map2_directions.html" %}

      <!-- Weather Widget -->
      {% include "widget/_wid_weather.html" with person=provider %}
    </article>
    <!-- WIDGET COLUMN 1 END -->


    <!-- WIDGET COLUMN 2 START -->
    <article class="col-sm-12 col-md-7 col-lg-7">

      <!-- Community Sources Widget -->
      {% include "widget/_wid_community_sources.html" %}

      <!-- County Health Widget-->
      {% include "widget/_wid_county_health.html" %}

      <!-- County CLinical Care Widget-->
      {% include "widget/_wid_county_clinical.html" %}

    </article>
    <!-- WIDGET COLUMN 2 END -->
  </div>
  <!-- WIDGET ROW END -->

</section>
<!-- end widget grid -->


<!-- row for news ticker -->
<div class="row">
	<div class="simple-marquee-container">
		<div class="marquee-sibling">
			HealthCare News:
		</div>
		<div class="marquee">
			<ul class="marquee-content-items">
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
				<li>Item 4</li>
				<li>Item 5</li>
			</ul>
		</div>
	</div>
</div>
<!-- end row for news ticker -->

  {% endblock %} <!-- main content -->

{% block js_touch %}
{% endblock %} <!-- js_smartadmin -->

{% block js_smartadmin %}
{% endblock %} <!-- js_smartadmin -->

{% block js_voice_chat %}
    <script>
      var $person_id = {{ provider.id }};
      var $member_detail_url = "{% url 'member_detail' pk=1 %}"
    </script>
    <script src="{% static 'healthcare/js/rcg/member_map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbH_1Me4R8iR4l9toBD7F0HyxrCtI_rVI&libraries=places&callback=initMap" async defer></script>
{% endblock %} <!-- js_voice_chat -->

{% block js_page_plugins %}
  <script src="{% static 'healthcare/js/rcg/county_data.js' %}"></script>
  <!-- SC: news ticker -->
  <!-- https://github.com/conradfeyt/Simple-Marquee -->
  <script type="text/javascript" src="{% static 'healthcare/js/marquee.js' %}"></script>
  <script>
    $(function (){
      $('.simple-marquee-container').SimpleMarquee();
    });
  </script>
{% endblock %} <!-- js_page_plugins -->

{% block js_doc_ready %}
    <!-- DOCUMENT READY FUNCTION -->
    <script type="text/javascript">
    // PAGE RELATED DECLARATIONS
    $(document).ready(function() {
      pageSetUp();
        })
    </script>
    <!-- END DOCUMENT READY FUNCTION -->
{% endblock %} <!-- js_doc_ready -->

