{% extends 'healthcare/base.html' %}
{% load staticfiles %}
<!--SC: https://snakeycode.wordpress.com/2014/10/26/django-template-filter-for-formating-currency/-->
{% load humanize %}
<!--SC: https://docs.djangoproject.com/en/1.10/howto/custom-template-tags/ -->
<!--SC: https://djangosnippets.org/snippets/9/ -->
{% load healthcare_tags %}

{% block page_title %}Member Clinical{% endblock %}

{# {% block nav_demo %}class="top-menu-invisible active"{% endblock %} #}
{% block nav_demo %}class="active"{% endblock %}
{% block nav_member_clinical %}class="active"{% endblock %}
{% block nav_member_clinical2 %}class="active"{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{% static 'healthcare/css/marquee.css' %}" />
    <!-- _wid_patient_images -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'healthcare/css/magnific-popup.css' %}">
{% endblock %}

{% block breadcrumb %}
	<li>Member Clinical</li>
{% endblock %}
{% block breadcrumb1 %}
    <li>Member Clinical</li>
{% endblock %}


{% block main_content %}

{# expr member.pcp() as pcp #}

{% include 'healthcare/_member_header.html' %}

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- SC main grid row -->
	<div class="row">

		<!-- NEW WIDGET COLUMN 1 START -->
		<article class="col-sm-12 col-md-4 col-lg-4">

			<!-- Patient Vitals Widget-->
        	{% include "widget/_wid_patient_vitals.html" %}

            <!-- Patient Reported Data Widget-->
            {% include "widget/_wid_patient_reported.html" %}

            <!-- patient contact widget -->
            {% include "widget/_wid_patient_contact.html" %}

		</article>
		<!-- WIDGET COLUMN 1 END -->

		<!-- NEW WIDGET COLUMN 2 START -->
		<article class="col-sm-12 col-md-4 col-lg-4">

			<!-- SC Flot Auto Updating Chart -->
        	{# {% include "widget/_wid_heartrate_demo.html" %} #}

			<!-- SC Fitbit Heartrate Chart -->
        	{% include "widget/_wid_heartrate_fitbit.html" %}

			<!-- Heartrate History  -->
        	{% include "widget/_wid_heartrate_history.html" %}

		</article>
		<!-- WIDGET COLUMN 2 ENDi -->

		<!-- NEW WIDGET COLUMN 3 START -->
		<article class="col-sm-12 col-md-4 col-lg-4">

            <!-- Test SMS Widget -->
            {# {% include "widget/_wid_sms.html" %} #}

            <!-- CGMS  -->
            {% include "widget/_wid_cgms.html" %}

            <!-- Patient Image Widget-->
            {% include "widget/_wid_patient_images.html" %}

		</article>
		<!-- WIDGET CLINICAL INFO COLUMN 3 END -->

	</div>
	<!-- end SC main grid row -->

</section>
<!-- end widget grid -->

<!-- row for news ticker -->
{% include "widget/_news_ticker.html" %}

{% endblock %} <!-- main content -->


<!-- copied here for reference -->
{% block js_touch %}
{% endblock %}

{% block js_smartadmin %}
	<!-- CUSTOM NOTIFICATION -->
	{# // <script src="{% static 'smartadmin/js/notification/SmartNotification.min.js' %}"></script> #}

	<!-- JARVIS WIDGETS -->
	<!-- <script src="{# static 'smartadmin/js/smartwidgets/jarvis.widget.min.js' #}"></script>-->
	{# // <script src="{% static 'healthcare/js/rcg/rcg.jarvis.widget.js' %}"></script> #}

	<!-- EASY PIE CHARTS -->
	<script src="{% static 'smartadmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js' %}"></script>

	<!-- SPARKLINES -->
	<script src="{% static 'smartadmin/js/plugin/sparkline/jquery.sparkline.min.js' %}"></script>

	<!-- JQUERY VALIDATE -->
	{# // <script src="{% static 'smartadmin/js/plugin/jquery-validate/jquery.validate.min.js' %}"></script> #}

	<!-- JQUERY MASKED INPUT -->
	{# // <script src="{% static 'smartadmin/js/plugin/masked-input/jquery.maskedinput.min.js' %}"></script> #}

	<!-- JQUERY SELECT2 INPUT -->
	{# // <script src="{% static 'smartadmin/js/plugin/select2/select2.min.js' %}"></script> #}

	<!-- JQUERY UI + Bootstrap Slider -->
	{# // <script src="{% static 'smartadmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js' %}"></script> #}
{% endblock %} <!-- js_smartadmin -->

{% block js_voice_chat %}
{% endblock %} <!-- js_voice_chat -->

{% block js_page_plugins %}
	<!-- DYGRAPH -->
    <!-- _wid_heartrate_history & _wid_cgms -->
	<script src="{% static 'healthcare/data/dygraph-demo-data.js' %}"></script>
	{# // <script src="{% static 'smartadmin/js/plugin/dygraphs/demo-data.js' %}"></script> #}
	<script src="{% static 'smartadmin/js/plugin/dygraphs/dygraph-combined.min.js' %}"></script>

	<!-- progress bars -->
	<script src="{% static 'smartadmin/js/plugin/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>

	<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
    <!-- _wid_heartrate_fitbit -->
	<script src="{% static 'smartadmin/js/plugin/flot/jquery.flot.cust.min.js' %}"></script>
	<script src="{% static 'smartadmin/js/plugin/flot/jquery.flot.resize.min.js' %}"></script>
	<script src="{% static 'smartadmin/js/plugin/flot/jquery.flot.fillbetween.min.js' %}"></script>
	<script src="{% static 'smartadmin/js/plugin/flot/jquery.flot.orderBar.min.js' %}"></script>
	<script src="{% static 'smartadmin/js/plugin/flot/jquery.flot.pie.min.js' %}"></script>
	<script src="{% static 'smartadmin/js/plugin/flot/jquery.flot.time.min.js' %}"></script>
	<script src="{% static 'smartadmin/js/plugin/flot/jquery.flot.tooltip.min.js' %}"></script>

	<!-- SC: news ticker -->
	<!-- https://github.com/conradfeyt/Simple-Marquee -->
	<!-- // <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
	<script type="text/javascript" src="{% static 'healthcare/js/marquee.js' %}"></script>
	<script>
		$(function (){
			$('.simple-marquee-container').SimpleMarquee();
		});
	</script>

    <!-- datatables (scripts & claims) -->
    {# // <script src="{% static 'smartadmin/js/plugin/datatables/jquery.dataTables.min.js' %}"></script> #}
    <script src="{% static 'healthcare/js/rcg/rcg.jquery.dataTables.js' %}"></script>
    <script src="{% static 'smartadmin/js/plugin/datatables/dataTables.colVis.min.js' %}"></script>
    <script src="{% static 'smartadmin/js/plugin/datatables/dataTables.tableTools.min.js' %}"></script>
    <script src="{% static 'smartadmin/js/plugin/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'smartadmin/js/plugin/datatable-responsive/datatables.responsive.min.js' %}"></script>
{% endblock %} <!-- js_page_plugins -->

{% block js_doc_ready %}
    <!-- PAGE RELATED DECLARATIONS -->
    <!-- _wid_heartrate_fitbit -->
    <script src="{% static 'healthcare/js/rcg/flot_colors.js' %}"></script>
    <!-- _wid_patient_images -->
    {# // <script src="{% static 'smartadmin/js/plugin/superbox/superbox.min.js' %}"></script> #}
    <script src="{% static 'healthcare/js/jquery.magnific-popup.min.js' %}"></script>

    <!-- DOCUMENT READY FUNCTION -->
    <script type="text/javascript">

		// PAGE RELATED DECLARATIONS
        var $member_id = {{ member.id }};

        /* SC: export tables */
        var $sSwfPath = "{% static 'smartadmin/js/plugin/datatables/swf/copy_csv_xls_pdf.swf' %}"

		$(document).ready(function() {

			pageSetUp();

			/* ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
			 * TO LOAD A SCRIPT:
			 * loadScript(".../plugin.js", run_after_loaded);
			 */

            /* SC: table tools - search and export */
            loadScript("{% static 'healthcare/js/rcg/datatable_tabletools.js' %}", true);

			/* SC: progress bar */
			// Fill all progress bars with animation
			$('.progress-bar').progressbar({
				display_text : 'fill'
			});
			// Progress Part
    		$('.jsProgressPart').progressbar({display_text: 'fill', use_percentage: false});
			/* /SC: progress bar */

			/* SC: Acordion */
			//jquery accordion
		     var accordionIcons = {
		         header: "fa fa-plus",    // custom icon class
		         activeHeader: "fa fa-minus" // custom icon class
		     };

			$("#accordion").accordion({
				autoHeight : false,
				heightStyle : "content",
				collapsible : true,
				animate : 300,
				icons: accordionIcons,
				header : "h4",
			})

            /* SC: DyGraph */
            // XX data is in file js\plugin\dygraphs\demo-data.min.js. Search for data_temp.  Includes HR,RR / NY,SF trend definitions.
            // SC data is in file js\rcg\dygraph-demo-data.js. Includes HR,RR / NY,SF trend definitions.
            g1 = new Dygraph(document.getElementById("noroll"), data_temp, {
                customBars : true,
                title : 'Steps and Avg Heartrate',
                ylabel : 'Steps/100 / BPM',
                legend : 'always',
                labelsDivStyles : {
                    'textAlign' : 'right'
                },
                showRangeSelector : true
            });

            /* SC: CGMS */
            // SC data is in file js\rcg\dygraph-cgms.js.
            g3 = new Dygraph(
                document.getElementById("cgms1"),
                "{% static 'healthcare/data/glucose.csv' %}", {
                    // customBars : true, // doesn't work when not specifying error bands
                    title : 'Continuous Glucose Monitoring',
                    ylabel : 'Glucose mg/dl',
                    legend : 'always',
                    labelsDivStyles : {
                        'textAlign' : 'right'
                    },
                    showRangeSelector : true
                    // rollPeriod: 7,
                    // showRoller: true
            });
            /*cgms_g1 = new Dygraph(document.getElementById("cgms1"),
                "{% static 'healthcare/data/temperatures.csv' %}", {
                customBars : true,
                title : 'Continuous Glucose Monitoring',
                ylabel : 'Glucose mg/dl',
                legend : 'always',
                labelsDivStyles : {
                    'textAlign' : 'right'
                },
                showRangeSelector : true
            });*/

			/* SC: flot */
			/* updating chart */
            // loadScript("{% static 'healthcare/js/rcg/flot_update.js' %}", true);
            loadScript("{% static 'healthcare/js/rcg/heartrate.js' %}", true);

            /* SC: images */
            // _wid_patient_images
            // $('.superbox').SuperBox();
            loadScript("{% static 'healthcare/js/rcg/magnific-popup.js' %}", true);

        })
    </script>
    <!-- END DOCUMENT READY FUNCTION -->
{% endblock %} <!-- js_doc_ready -->
