{% extends 'healthcare/base.html' %}
{% load tz %}
{% load staticfiles %}

{% block page_title %}Members{% endblock %}
{% block page_stylesheets %}{% endblock %}

{% block nav_dashboard %}class="active"{% endblock %}
{% block nav_members %}class="active"{% endblock %}


{% block breadcrumb %}
	<li>Member</li><li>List</li>
{% endblock %}
{% block breadcrumb1 %}
	<li>Member</li><li>List</li>
{% endblock %}


{% block main_content %}

	<!-- row -->
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark" style="margin-bottom:12px;margin-top:6px;">
				<i class="fa fa-table fa-fw "></i>
					Member
				<span>>
					List
				</span>
			</h1>
		</div>
	</div> <!--/row-->

	<!-- widget grid -->
	<section id="widget-grid" class="">
		<!-- row -->
		<div class="row">
			<!-- NEW WIDGET START -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<!-- members widget -->
	        	{% include "widget/_wid_members.html" %}

			</article>
			<!-- WIDGET END -->
		</div>
		<!-- end row -->
	</section>
	<!-- end widget grid -->
{% endblock %} <!-- main content -->

{% block js_touch %}{% endblock %}
{% block js_smartadmin %}

		<!-- CUSTOM NOTIFICATION -->
		<!-- // <script src="{% static 'smartadmin/js/notification/SmartNotification.min.js' %}"></script> -->

		<!-- JARVIS WIDGETS -->
		{# // <script src="{% static 'smartadmin/js/smartwidgets/jarvis.widget.min.js' %}"></script> #}

		<!-- EASY PIE CHARTS -->
		<!-- // <script src="{% static 'smartadmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js' %}"></script> -->

		<!-- SPARKLINES -->
		<!-- // <script src="{% static 'smartadmin/js/plugin/sparkline/jquery.sparkline.min.js' %}"></script> -->

		<!-- JQUERY VALIDATE -->
		<!-- // <script src="{% static 'smartadmin/js/plugin/jquery-validate/jquery.validate.min.js' %}"></script> -->

		<!-- JQUERY MASKED INPUT -->
		<!-- // <script src="{% static 'smartadmin/js/plugin/masked-input/jquery.maskedinput.min.js' %}"></script> -->

		<!-- JQUERY SELECT2 INPUT -->
		<!-- // <script src="{% static 'smartadmin/js/plugin/select2/select2.min.js' %}"></script> -->

		<!-- JQUERY UI + Bootstrap Slider -->
		<!-- // <script src="{% static 'smartadmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js' %}"></script> -->

{% endblock %} <!-- js_smartadmin -->

{% block js_voice_chat %}{% endblock %}
{% block js_page_plugins %}
		<!-- PAGE RELATED PLUGIN(S) -->
		<script src="{% static 'smartadmin/js/plugin/datatables/jquery.dataTables.min.js' %}"></script>
		{# <!--script src="{% static 'smartadmin/js/plugin/datatables/dataTables.colVis.min.js' %}"></script--> #}
		<script src="{% static 'smartadmin/js/plugin/datatables/dataTables.tableTools.min.js' %}"></script>
		{# <!--script src="{% static 'smartadmin/js/plugin/datatables/dataTables.bootstrap.min.js' %}"></script--> #}
		<script src="{% static 'smartadmin/js/plugin/datatable-responsive/datatables.responsive.min.js' %}"></script>
{% endblock %} <!-- js_page_plugins -->


{% block js_doc_ready %}
    <!-- DOCUMENT READY FUNCTION -->
    <script type="text/javascript">
		/* SC: export tables */
		var $sSwfPath = "{% static 'smartadmin/js/plugin/datatables/swf/copy_csv_xls_pdf.swf' %}"

        $(document).ready(function() {
            pageSetUp();

			/* SC: table tools - search and export */
            loadScript("{% static 'healthcare/js/rcg/datatable_tabletools.js' %}", true);
        })
    </script>
    <!-- END DOCUMENT READY FUNCTION -->
{% endblock %} <!-- js_doc_ready -->
