{% extends 'healthcare/base-blank.html' %}

{% block main_content %}
    <form method="POST" class="sms-form padding-bottom-10">{% csrf_token %}
        {# {{ form.as_p }} #}
        {{ form.text }}
        <div class="margin-top-10 margin-bottom-10" style="height: 21px">
            <button type="submit" class="btn btn-sm btn-primary pull-right">
                Send</button>
            {% if "Test" in user.username %}
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Location"><i class="fa fa-location-arrow"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Voice"><i class="fa fa-microphone"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Photo"><i class="fa fa-camera"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add File"><i class="fa fa-file"></i></a>
            {% endif %}
        </div>
    </form>
    <!--<form method="post" class="well padding-bottom-10" onsubmit="return false;">
        <textarea rows="2" class="form-control" placeholder="Text Patient"></textarea>
        <div class="margin-top-10 margin-bottom-10" style="height: 21px">
            <button type="submit" class="btn btn-sm btn-primary pull-right">
                Post
            </button>
            {% if "Test" in user.username %}
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Location"><i class="fa fa-location-arrow"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Voice"><i class="fa fa-microphone"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Photo"><i class="fa fa-camera"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add File"><i class="fa fa-file"></i></a>
            {% endif %}
        </div>
    </form>-->
{% endblock %}

{% block js_doc_ready %}
{% endblock %}
