{% extends 'healthcare/base-blank.html' %}

{% block main_content %}
    <form method="POST" class="message-form">{% csrf_token %}
        {# {{ form.as_p }} #}
        {{ form.text }}
        <button type="submit" class="btn btn-sm btn-primary pull-right">
            Send</button>
    </form>
    <!--<form method="post" class="well padding-bottom-10" onsubmit="return false;">
        <textarea rows="2" class="form-control" placeholder="Text Patient"></textarea>
        <div class="margin-top-10 margin-bottom-10" style="height: 21px">
            <button type="submit" class="btn btn-sm btn-primary pull-right">
                Post
            </button>
            {% if "Test" in user.username %}
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Location"><i class="fa fa-location-arrow"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Voice"><i class="fa fa-microphone"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Photo"><i class="fa fa-camera"></i></a>
            <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add File"><i class="fa fa-file"></i></a>
            {% endif %}
        </div>
    </form>-->
    <br><br>
    <table class="table table-striped table-bordered table-hover" width="100%">
    <thead>
        <tr>
            <th>created_date</th>
            <th>type</th>
            <th>sent</th>
            <th>message_from</th>
            <th>message_to</th>
            <th>member.last_name</th>
            <th>user.username</th>
            <!--<th>text</th>-->
            <th>sid</th>
            <th>status</th>
            <!--<th>data</th>-->
        </tr>
    </thead>
    <tbody>
    {% for message in messages %}
        <tr>
            <td>{{ message.created_date }}</td>
            <td>{{ message.message_type }}</td>
            <td>{{ message.sent }}</td>
            <td>{{ message.message_from }}</td>
            <td>{{ message.message_to }}</td>
            <td>{{ message.member.last_name }}</td>
            <td>{{ message.user.username }}</td>
            <td>{{ message.smssid }}</td>
            <td>{{ message.smsstatus }}</td>
        </tr>
        <tr>
            <td colspan="5">{{ message.text }}</td>
            <td colspan="4">{{ message.data }}</td>
        </tr>
        <!--<div class="message">
            <div class="date">
                {{ message.created_date }}
            </div>
            <h1>{{ message.sent }} {{ message.message_from }} to {{ message.message_to }}</h1>
            {{ message.member.last_name }} to {{ message.user.username }}
            <p>{{ message.text|linebreaksbr }}</p>
            <p>{{ message.query_url|linebreaksbr }}</p>
        </div>-->
    {% endfor %}
    </tbody>
    </table>
{% endblock %}

{% block js_doc_ready %}
{% endblock %}
