/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/* For google maps */
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}

.menu-on-top .menu-item-parent {
    max-width: 98px !important;
}

li.active {
    color: #FFF205;
}

li.active2 {
    font-size: 24px;
}

#rcg-right-profile {
/*    display: none !important; */
    padding-right: 2px !important;
    padding-left: 2px !important;
}

#rcg-right-profile-img {
    height: 30px;
    width: 30px;
}

.rcg-right-logo {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: 20px;
    margin-left: 5px;
}

#logo-group {
    width: 400px !important;
}

img.rcg-left-logo {
    width: 37px !important;
    /*height: 50px  !important;*/
    height: auto;
    padding-left: 5px;
    padding-top: 2px;
}

img.ahp-right-logo {
    /*width: 37px !important;*/
    height: 48px  !important;
    height: auto;
    margin-right: -5px;
    padding-right: 0px;
    padding-top: 2px;
    padding-left: 10px;
}

.rcg-brand-text {
    /*font-family: "Century Gothic";*/
    font-family: "Calibri LIght";
    font-size: 24px;
    /*font-weight: 50;*/
    /*line-height: 36px;*/
    padding-top: 10px;
    /*padding-bottom: -30px;*/
}

    /*background-color: lightblue;*/
    /*display: none;*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*height: 0px;*/

.custom-scroll .dt-toolbar {
    opacity: 0;
    height: 0px;
}

/*.custom-scroll .dataTables-filter input {
    height: 0px;
}
*/
/*.dataTables_filter .input-group-addon+.form-control {
    height: 1px;
}

.dataTables_filter .input-group-addon {
    height: 1px;
}

.DTTT_button div embed {
    height: 1px !important;
}

.custom-scroll .dt-toolbar .DTTT_container {
    height: 1px;
}*/

    /*background-color: red;*/
    /*visibility: unset;*/
    /*display: block;*/
    /*opacity: 1;*/
#jarviswidget-fullscreen-mode .dt-toolbar {
    height: inherit;
    opacity: 1;
}

.open>.dropdown-menu {
    -webkit-animation-duration: 0s !important;
    -moz-animation-duration: 0s !important;
    -o-animation-duration: 0s !important;
    animation-duration: 0s !important;
}

/*-webkit-tap-highlight-color: rgba(169,3,41,.5);*/
.simple-marquee-container a {
    color: Black;
    text-decoration: underline;
}

.simple-marquee-container a:visited {
    color: Navy;
    text-decoration: underline;
}

.no-top-bottom-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.figure-inline {
    display: inline-block;
}
