{% load staticfiles %}
{% load demo_tags %}

<!-- SC header row -->
<div class="row">
    <div class="col-sm-1 profile-pic">
        <!-- <br><br>
        <img src="img/avatars/4.png" alt="demo user"> -->
        <!-- Note: The activity badge color changes when clicked and resets the number to 0
        Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
        <span id="activity" class="activity-dropdown">
            <!-- <i class="fa fa-user"></i>  -->
            {# <img src="{% static 'img/avatars/4.png' %}" alt="demo user"> #}
            {# {% static member.picture_path %} #}
            <!--img src="{# static member.picture_path|safe_avatar:member.sex #}" alt="{# member.name #}" /-->
            {% include "demo/_avatar.html" with person=member %}
            {% if "Test" in user.username %}
            <b class="badge"> 21 </b>
            {% endif %}
        </span>
        {% if "Test" in user.username %}
        <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
            {% include "demo/_ajax_dropdown.html" %}
        {% endif %}
    </div>

    <div class="col-sm-3">
        <!-- dropdown -->
        <div class="project-context hidden-xs">
            <span class="project-selector  dropdown-toggle" data-toggle="dropdown" style="text-transform: none; margin-top: -10px;">
                <h1>{{ member.first_name }}<span class="semi-bold"> {{ member.last_name }}</span>
                    <i class="fa fa-angle-down"></i></h1>
            </span>
            <h1 style="margin-top: -10px; display: inline;">
                <small>{{ member.plan_name }}</small>
            </h1>
            <span class="text-muted" style="margin-top: -10px; display: inline;">
                &nbsp;<a href="tel:{{member.mobile_phone}}" title="Call: {{member.mobile_phone}}">
                    <i class="fa fa-phone"></i></a>
                &nbsp;<a href="#contact" title="Text: {{member.mobile_phone}}">
                    <i class="fa fa-mobile"></i></a>
                &nbsp;<a href="mailto:{{member.email}}" title="Email: {{member.email}}">
                    <i class="fa fa-envelope"></i></a>
            </span>

            <!-- Suggestion: populate this list with fetch and push technique -->
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0);">Primary Conditions:</a>
                </li>
                <li>
                    <a href="javascript:void(0);">&nbsp;-&nbsp;Hypertension</a>
                </li>
                <li>
                    <a href="javascript:void(0);">&nbsp;-&nbsp;Type 1 Diabetes (IDDM)</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>
                </li>
            </ul>
            <!-- end dropdown-menu-->
        </div>
        <!-- end projects dropdown -->
   </div>

    <!-- right side of the page with the sparkline graphs -->
    <!-- sparkline col -->
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <!-- sparks -->
        <ul id="sparks">
            <li class="sparks-info" style="min-width: 10px;">
                <div> Sex <span class="txt-color-blue">{{ member.sex }}</span></div>
            </li>
            <li class="sparks-info" style="min-width: 10px;">
                <h5> Age <span class="txt-color-blue">{{ member.age }}</span></h5>
            </li>
            <li class="sparks-info" style="min-width: 15px;">
                <h5> Height <span class="txt-color-blue">{{ member.height.value_str }}</span></h5>
            </li>
            <li class="sparks-info">
                <h5> Weight <span class="txt-color-blue">
                    {% if member.weight.value_1_trend > 0 %}
                        <i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increasing"></i>
                    {% elif member.weight.value_1_trend < 0 %}
                        <i class="fa fa-arrow-circle-down" data-rel="bootstrap-tooltip" title="Decreasing"></i>
                    {% else %}
                        <i class="fa fa-arrow-circle-right" data-rel="bootstrap-tooltip" title="Stable"></i>
                    {% endif %}
                    &nbsp;{{ member.weight.value_1 | floatformat:"0" }}</span>
                </h5>
                    <!--100, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471-->
                <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                    {{ member.weight.value_1_history }}
                </div>
            </li>
            <li class="sparks-info">
                <h5> BP <span class="txt-color-greenDark">
                    {% if member.bp.value_1_trend > 0 %}
                        <i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increasing"></i>
                    {% elif member.bp.value_1_trend < 0 %}
                        <i class="fa fa-arrow-circle-down" data-rel="bootstrap-tooltip" title="Decreasing"></i>
                    {% else %}
                        <i class="fa fa-arrow-circle-right" data-rel="bootstrap-tooltip" title="Stable"></i>
                    {% endif %}
                    &nbsp;{{ member.bp.value_str }}</span>
                </h5>
                <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                    {{ member.bp.value_1_history }}
                </div>
            </li>
        {% if "Test" in user.username %}
            <li class="sparks-info">
                <h5> HR <span class="txt-color-red">
                    {% if member.hr.value_1_trend > 0 %}
                        <i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increasing"></i>
                    {% elif member.hr.value_1_trend < 0 %}
                        <i class="fa fa-arrow-circle-down" data-rel="bootstrap-tooltip" title="Decreasing"></i>
                    {% else %}
                        <i class="fa fa-arrow-circle-right" data-rel="bootstrap-tooltip" title="Stable"></i>
                    {% endif %}
                    &nbsp;{{ member.hr.value_1 | floatformat:"0" }}</span>
                </h5>
                <div class="sparkline txt-color-red hidden-mobile hidden-md hidden-sm">
                    {{ member.hr.value_1_history }}
                </div>
            </li>
        {% endif %}
        </ul>
        <!-- end sparks -->
    </div>
    <!-- end sparkline col -->

</div>
<!-- end SC header row -->

<!-- SC notification row -->
<div class="row">
    <!-- Notification Section -->
    <article class="col-sm-12">
        <div class="alert alert-warning fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-warning"></i>
            <strong>Notice: </strong> Patient has not filled <code>Zocor</code> as prescribed.
        </div>
        <div class="alert alert-success fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-check"></i>
            <strong>Indicators: </strong> Patient health indicators currently within care plan guidelines.
        </div>
    </article>
</div>
<!-- end SC notification row -->

