<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title class="rcg-brand-text"> RCG|enable Health {% block page_title %}{% endblock %}</title>
		<meta name="description" content="RCG HealthCare Demo">
		<meta name="author" content="RCG Global Services">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- #CSS Links -->
		<!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/font-awesome.min.css' %}">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-production-plugins.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-production.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-skins.min.css' %}">

		<!-- SmartAdmin RTL Support -->
		<!-- <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-rtl.min.css' %}"> -->

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/your_style.css' %}"> -->

        <!-- SC: this is the twirling gears at top right that dynamically change page properties -->
		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/demo.min.css' %}">

        <!-- SC: RCG Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/rcghc_demo.css' %}">
    {% block page_stylesheets %}
        <!--link rel="stylesheet" href="{% static 'css/blog.css' %}"-->
    {% endblock %}

		<!-- #FAVICONS -->
		<!-- <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon"> -->
		<link rel="shortcut icon" href="{% static 'img/rcg/RCG-Logo.png' %}" type="image/png">
		<link rel="icon" href="{% static 'img/rcg/RCG-Logo.png' %}" type="image/png">
		<!-- <img src="{% static 'img/rcg/RCG-Logo.png' %}" alt="RCG HealthCare" style="width:30px;height:30px;"> -->

		<!-- #GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- #APP SCREEN / ICONS -->
		<!-- Specifying a Webpage Icon for Web Clip
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<!-- <link rel="apple-touch-icon" href="{% static 'img/splash/sptouch-icon-iphone.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/splash/touch-icon-ipad.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/splash/touch-icon-iphone-retina.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/splash/touch-icon-ipad-retina.png' %}"> -->
		<link rel="apple-touch-icon" href="{% static 'img/rcg/RCG-Logo.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/rcg/RCG-Logo.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/rcg/RCG-Logo.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/rcg/RCG-Logo.png' %}">

		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!-- Startup image for web apps -->
		<!-- <link rel="apple-touch-startup-image" href="{% static 'img/splash/ipad-landscape.png' %}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="{% static 'img/splash/ipad-portrait.png' %}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="{% static 'img/splash/iphone.png' %}" media="screen and (max-device-width: 320px)"> -->
		<link rel="apple-touch-startup-image" href="{% static 'img/rcg/RCG-Logo.png' %}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="{% static 'img/rcg/RCG-Logo.png' %}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="{% static 'img/rcg/RCG-Logo.png' %}" media="screen and (max-device-width: 320px)">
    {% block js-head %}
        <!--link rel="stylesheet" href="{% static 'css/blog.css' %}"-->
    {% endblock %}

	</head>

	<!--

	TABLE OF CONTENTS.

	Use search to find needed section.

	===================================================================

	|  01. #CSS Links                |  all CSS links and file paths  |
	|  02. #FAVICONS                 |  Favicon links and file paths  |
	|  03. #GOOGLE FONT              |  Google font link              |
	|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
	|  05. #BODY                     |  body tag                      |
	|  06. #HEADER                   |  header tag                    |
	|  07. #PROJECTS                 |  project lists                 |
	|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
	|  09. #MOBILE                   |  mobile view dropdown          |
	|  10. #SEARCH                   |  search field                  |
	|  11. #NAVIGATION               |  left panel & navigation       |
	|  12. #RIGHT PANEL              |  right panel userlist          |
	|  13. #MAIN PANEL               |  main panel                    |
	|  14. #MAIN CONTENT             |  content holder                |
	|  15. #PAGE FOOTER              |  page footer                   |
	|  16. #SHORTCUT AREA            |  dropdown shortcuts area       |
	|  17. #PLUGINS                  |  all scripts and plugins       |

	===================================================================

	-->

	<!-- #BODY -->
	<!-- Possible Classes

		* 'smart-style-{SKIN#}'
		* 'smart-rtl'         - Switch theme mode to RTL
		* 'menu-on-top'       - Switch to top navigation (no DOM change required)
		* 'no-menu'			  - Hides the menu completely
		* 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
		* 'fixed-header'      - Fixes the header
		* 'fixed-navigation'  - Fixes the main menu
		* 'fixed-ribbon'      - Fixes breadcrumb
		* 'fixed-page-footer' - Fixes footer
		* 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
	-->
	<body class="">


			<!-- MAIN CONTENT -->
			<div id="content">
                        <!--{{ user.userprofile.picture }}<br>
                        {{ user.userprofile.picture.name }}<br>
                        {{ user.userprofile.picture.url }}<br>
                        user.userprofile.picture.url
                        <img src="{# user.userprofile.picture.url #}" alt="me" class="online" /><br>
                        static user.userprofile.picture
						<img src="{# static user.userprofile.picture #}" alt="me" class="online" /><br>
						<img src="{# static user.userprofile.picture_path #}" alt="me" class="online" /><br>
						static 'img/avatars/Scott.jpg'
						<img src="{# static 'img/avatars/Scott.jpg' #}" alt="me" class="online" /><br>-->
            {% block main_content %}
                <!--img src="{% static 'img/rcg/ideas-realized.png' %}" alt="RCG HealthCare">-->
            {% endblock %} <!-- main content -->

			</div>
			<!-- END MAIN CONTENT -->



	</body>

</html>
