{% extends 'demo/base.html' %}
{% load staticfiles %}
<!--SC: https://snakeycode.wordpress.com/2014/10/26/django-template-filter-for-formating-currency/-->
{% load humanize %}
<!--SC: https://docs.djangoproject.com/en/1.10/howto/custom-template-tags/ -->
<!--SC: https://djangosnippets.org/snippets/9/ -->
{% load demo_tags %}
{# http://stackoverflow.com/questions/844746/performing-a-getattr-style-lookup-in-a-django-template #}

{% block page_title %}| Members {% endblock %}

{# {% block nav_demo %}class="top-menu-invisible active"{% endblock %} #}
{% block nav_demo %}class="active"{% endblock %}
{% block nav_county_data %}class="active"{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/marquee.css' %}" />
    <style>
/*      html {
        height: 100%;
        margin: 0;
        padding: 0;
      }
*/      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
{% endblock %}

{% block breadcrumb %}
    <li>Care Manager</li><li>Members &amp; County Data</li>
{% endblock %}
{% block breadcrumb1 %}
    <li>Care Manager</li><li>Members &amp; County Data</li>
{% endblock %}


{% block main_content %}

<!-- SC county form row -->
<div class="row">
    <form method="POST" class="countydata-form" id="countydata-form">
	<ol class="breadcrumb">
    	{% csrf_token %}
        {{ form.as_ul }}
        <li><button type="submit" class="btn btn-default btn-xs">Get</button></li>
    </ol>
    <div id="countydata-form-results"></div> <!-- errors go here -->
    </form>
</div>
<!-- end SC county form row -->

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- WIDGET ROW START -->
	<div class="row">
    <!-- WIDGET COLUMN 1 START -->
		<article class="col-sm-12 col-md-12 col-lg-6">

      <!-- Widget ID (each widget will need unique ID)-->
      <!-- Provider Map Widget-->
      <div class="jarviswidget jarviswidget-color-greenDark"
          id="wid-provider-map" style="height:100%; width:100%;"
          data-widget-colorbutton="false"
          data-widget-editbutton="false"
          data-widget-togglebutton="false"
          data-widget-deletebutton="false"
          data-widget-fullscreenbutton="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"
        -->
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>County Health Behaviors</h2>
        </header>
        <!-- widget div-->


            <div id="wid-scripts-table-div" class="custom-scroll table-responsive" style="height:600px; overflow-y: scroll;">
      <div id="floating-panel">
        {# <input id="address" type="textbox" value="New York, NY"> #}
        <input id="address" type="textbox" value="{{provider.address}} {{provider.city}}, {{provider.state}}  {{provider.zip}}">

        <select id = "searchType">
         <option value = "doctor">doctor</option>
         <option value = "dentist">dentist</option>
         <option value = "hospital">hospital</option>
         <option value = "parking">parking</option>
         <option value = "pharmacy">pharmacy</option>
         <option value = "physiotherapist">physiotherapist</option>
        </select>
        <input id="submitNearby" type="button" value="Find">
        <input id="getMembers" type="button" value="Members">

        <!--<input id="searchTerm" type="textbox" value="hospital">
        <input id="submitText" type="button" value="Search">-->
      </div>

      <!-- google maps div -->
      <!-- every div that encloses this map div must have  style="height:100%; width:100%;" -->
      <!--http://stackoverflow.com/questions/16349476/map-isnt-showing-on-google-maps-javascript-api-v3-when-nested-in-a-div-tag-->
      <div id="map"></div>
            </div> <!--wid-scripts-table-div>-->
      {# </div> #}
    {# </div> #}


      </div>
      <!-- end provider map widget -->
    </article>
    <!-- WIDGET COLUMN 1 END -->


	<!-- WIDGET COLUMN 2 START -->
		<article class="col-sm-12 col-md-12 col-lg-6">

			<!-- Widget ID (each widget will need unique ID)-->
			<!-- County Health Widget-->
			<div class="jarviswidget jarviswidget-color-greenDark" id="wid-county-health"> <!--data-widget-editbutton="true"-->
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"
				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>County Health Behaviors</h2>
				</header>
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						<div class="alert alert-info no-margin fade in">
							<button class="close" data-dismiss="alert">
								×
							</button>
							<i class="fa-fw fa fa-info"></i>
							<code>{{ countydata.county }}</code> County, <code>{{ countydata.state_name }}</code>
						</div>
            <div class="table-responsive">
            <!-- uncomment this line to limit table height -->
            {# <div id="wid-scripts-table-div-1" class="custom-scroll table-responsive" style="height:150px; overflow-y: scroll;"> #}
							<!-- Enables hover effect <code>&lt;table&gt;</code> by adding the <code>.table-hover</code> with the base class
							</div> -->
							<table class="table table-hover">
	<thead>
		<tr>
			<th> <i class="fa fa-building"></i> Focus Area</th>
			<th> <i class="fa fa-calendar"></i> Measure</th>
			<th> <i class="glyphicon glyphicon-send"></i> Description </th>
			<th>County</th>
			<th>Quartile Rank/State</th>
			<th>US Overall</th>
		</tr>
	</thead>
	<tbody>
	    {% regroup behaviors by category as grouped %}
	    {% for group in grouped %}
		    {% for obj in group.list %}
		    	{% if countydata|getattribute:obj.val2_ref > 3 %}
				    {% with tdtag='<td class="success">' %}
				    	{% include "demo/_countydata_row.html" %}
				    {% endwith %}
			    {% elif countydata|getattribute:obj.val2_ref < 2 %}
				    {% with tdtag='<td class="danger">' %}
				    	{% include "demo/_countydata_row.html" %}
				    {% endwith %}
			    {% else %}
				    {% with tdtag='<td>' %}
				    	{% include "demo/_countydata_row.html" %}
				    {% endwith %}
			    {% endif %}
		    {% endfor %}
		{% endfor %}
	</tbody>
							</table>
						</div>
					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
			<!-- end health behaviors widget -->

			<!-- Widget ID (each widget will need unique ID)-->
			<!-- County CLinical Care Widget-->
			<div class="jarviswidget jarviswidget-color-greenDark" id="wid-county-health">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>County Clinical Care</h2>
				</header>
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
            <div class="table-responsive">
            <!-- uncomment this line to limit table height -->
            {# <div id="wid-scripts-table-div-2" class="custom-scroll table-responsive" style="height:150px; overflow-y: scroll;"> #}
							<table class="table table-hover">
	<thead>
		<tr>
			<th> <i class="fa fa-building"></i> Focus Area</th>
			<th> <i class="fa fa-calendar"></i> Measure</th>
			<th> <i class="glyphicon glyphicon-send"></i> Description </th>
			<th>County</th>
			<th>Quartile Rank/State</th>
			<th>US Overall</th>
		</tr>
	</thead>
	<tbody>
	    {% regroup clinical by category as grouped %}
	    {% for group in grouped %}
		    {% for obj in group.list %}
		    	{% if countydata|getattribute:obj.val2_ref > 3 %}
				    {% with tdtag='<td class="success">' %}
				    	{% include "demo/_countydata_row.html" %}
				    {% endwith %}
			    {% elif countydata|getattribute:obj.val2_ref < 2 %}
				    {% with tdtag='<td class="danger">' %}
				    	{% include "demo/_countydata_row.html" %}
				    {% endwith %}
			    {% else %}
				    {% with tdtag='<td>' %}
				    	{% include "demo/_countydata_row.html" %}
				    {% endwith %}
			    {% endif %}
		    {% endfor %}
		{% endfor %}
	</tbody>
							</table>
						</div>
					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
			<!-- end health behaviors widget -->

		</article>
		<!-- WIDGET COLUMN 2 END -->
	</div>
	<!-- WIDGET ROW END -->

</section>
<!-- end widget grid -->


<!-- row for news ticker -->
<div class="row">
	<div class="simple-marquee-container">
		<div class="marquee-sibling">
			HealthCare News:
		</div>
		<div class="marquee">
			<ul class="marquee-content-items">
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
				<li>Item 4</li>
				<li>Item 5</li>
			</ul>
		</div>
	</div>
</div>
<!-- end row for news ticker -->

{% endblock %} <!-- main content -->

{% block js_smartadmin %}
		<!-- JARVIS WIDGETS -->
		<script src="{% static 'js/smartwidgets/rcg.jarvis.widget.js' %}"></script>
{% endblock %} <!-- js_smartadmin -->

{% block js_voice_chat %}
{% endblock %}

{% block js_page_plugins %}
    <script src="{% static 'js/rcg/provider_map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbH_1Me4R8iR4l9toBD7F0HyxrCtI_rVI&libraries=places&callback=initMap" async defer></script>

    <script src="{% static 'js/rcg/county_data.js' %}"></script>
	<!-- SC: news ticker -->
	<!-- https://github.com/conradfeyt/Simple-Marquee -->
	<script type="text/javascript" src="{% static 'js/marquee.js' %}"></script>
	<script>
		$(function (){
			$('.simple-marquee-container').SimpleMarquee();
		});
	</script>
{% endblock %} <!-- js_page_plugins -->

{% block js_doc_ready %}
    <!-- DOCUMENT READY FUNCTION -->
    <script type="text/javascript">
		// PAGE RELATED DECLARATIONS
		$(document).ready(function() {
			pageSetUp();
        })
    </script>
    <!-- END DOCUMENT READY FUNCTION -->
{% endblock %} <!-- js_doc_ready -->
