{% extends 'demo/base.html' %}
{% load staticfiles %}

{% block nav_demo %}class="active"{% endblock %}
{% block nav_ajax %}class="active"{% endblock %}

{% block main_content %}
    <form method="POST" class="post-form" id="post-form">{% csrf_token %}
        {{ form.as_p }}
        <div id="results"></div> <!-- errors go here -->
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <br><br>
    <ul id="talk">
    {% for post in posts %}
        <li>
            <strong>{{ post.text }}</strong> -
            <em>{{ post.author }}</em> -
            <span>{{ post.published_date }}</span>
        </li>
    {% endfor %}
    </ul>
    {# {% for post in posts %} #}
        <!--<div class="post">
            <div class="date">
                <a href="{# url 'blog.views.post_detail' pk=post.pk #}">{# post.title #}</a>
                {{ post.published_date }}
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{# url 'blog.views.post_detail' pk=post.pk #}">Comments: {# post.approved_comments.count #}</a>
        </div>-->
    {# {% endfor %} #}
{% endblock %}

{% block js_page_plugins %}
    <!-- PAGE RELATED PLUGIN(S)
    <script src="..."></script>-->
    <script src="{% static 'js/rcg/ajax1.js' %}"></script>
{% endblock %} <!-- js_page_plugins -->


{% block js_doc_ready %}
    <!-- DOCUMENT READY FUNCTION -->
    <!-- <script type="text/javascript">
        // $(document).ready(function() {
        //      pageSetUp();
        // })
    </script> -->
    <!-- END DOCUMENT READY FUNCTION -->
{% endblock %}
