{% extends 'demo/base_blank.html' %}

{% block main_content %}
    <form method="POST" class="sms-form">
        {% csrf_token %}
        {# {{ form.as_p }} #}
        {{ form.text }}
        <!--<button type="submit" class="save btn btn-default">Save</button>-->
        <div class="margin-top-10 margin-bottom-10" style="height: 21px">
            <button type="submit" class="btn btn-sm btn-primary pull-right">
                Send</button>
        </div>
    </form>

    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Show Messages<i class="fa fa-angle-down"></i></a>
        <ul id="talk" class="dropdown-menu"
            style = "width:100%;height:250px;overflow-y:scroll;">
        {% for obj in member.smss %}
            {% if obj.sent == True %}
            <li>
                <strong>{{ obj.text }}</strong><br>
                <span>{{ obj.created_date }}</span>
            </li>
            {% else %}
            <li dir="rtl" style="text-align: right;">
                <strong>{{ obj.text }}</strong><br>
                <span>{{ obj.created_date }}</span>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock %} <!-- main content -->


<!-- copied here for reference -->
{% block js_touch %}
{% endblock %}

{% block js_smartadmin %}
{% endblock %} <!-- js_smartadmin -->

{% block js_voice_chat %}
{% endblock %} <!-- js_voice_chat -->

{% block js_page_plugins %}
{% endblock %} <!-- js_page_plugins -->

{% block js_doc_ready %}
{% endblock %} <!-- js_doc_ready -->
