{% extends 'demo/base.html' %}
{% load staticfiles %}

{% block nav-dashboard %}class="active"{% endblock %}
{% block nav-index %}class="active"{% endblock %}

                    {% block breadcrumb %}
    					<li>Home</li>
                    {% endblock %}

                {% block main_content %}

                    <img src="{% static 'img/rcg/ideas-realized.png' %}" alt="RCG HealthCare">

                {% endblock %}


                            {% block bottom_right %}
						        Last login <i class="fa fa-clock-o"></i> 
						        <strong> {{ user.last_login }} &nbsp;</strong> 
                            {% endblock %}

