{% extends 'demo/base.html' %}
{% load staticfiles %}

{% block page-title %}{% endblock %}

{% block nav_dashboard %}class="active"{% endblock %}
{% block nav_index %}class="active"{% endblock %}


{% block breadcrumb %}
	<li>Home</li>
{% endblock %}


{% block main_content %}

    <img src="{% static 'img/rcg/ideas-realized.png' %}" alt="RCG HealthCare">

{% endblock %}


<!-- copied here for reference -->                            
{% block js_touch %}
{% endblock %}

{% block js_smartadmin %}
{% endblock %}

{% block js_voice_chat %}
{% endblock %}

{% block js_page_plugins %}
{% endblock %}

{% block js_doc_ready_declarations %}
{% endblock %}

{% block js_doc_ready_contents %}
{% endblock %}



